<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Go Digital Online Course</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">
  <meta name="description" content="GoDigital - это онлайн- проект, который дает возможность школьникам, студентам, ассистентам и учителям пополнить свой багаж знаний о том, как грамотно и эффективно пользоваться всеми благами интернет-пространства и применять свои умения соответственно в своей образовательной деятельности.">
  <meta name="author" content="Inovatik">
	<meta property="og:site_name" content="" /> <!-- website name -->
	<meta property="og:site" content="" /> <!-- website link -->
	<meta property="og:title" content=""/> <!-- title shown in the actual shared post -->
	<meta property="og:description" content="" /> <!-- description shown in the actual shared post -->
	<meta property="og:image" content="" /> <!-- image link, make sure it's jpg -->
	<meta property="og:url" content="" /> <!-- where do you want your post to link to -->
	<meta property="og:type" content="article" />
  <!-- Favicons -->
  <link href="All/img/favicon.png" rel="icon">
  <link href="All/img/apple-touch-icon.png" rel="apple-touch-icon">
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">
  <!-- Bootstrap CSS File -->
  <link href="All/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Libraries CSS Files -->
  <link href="All/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="All/lib/animate/animate.min.css" rel="stylesheet">
  <link href="All/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="All/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="All/lib/lightbox/css/lightbox.min.css" rel="stylesheet">
<script data-ad-client="ca-pub-3543554559998313" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- Main Stylesheet File -->
  <link href="All/css/style.css" rel="stylesheet">

  <!-- =======================================================
    Theme Name: NewBiz
    Theme URL: https://bootstrapmade.com/newbiz-bootstrap-business-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>
<body>
<header id="header" class="fixed-top">
  <div class="container">

    <div class="logo float-left">
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <h1 class="text-light"><a href="#header"><span>NewBiz</span></a></h1> -->
      <a href="#intro" class="scrollto"><h2>Go Digital</h2></a>
    </div>

    <nav class="main-nav float-right d-none d-lg-block">
      <ul>
        <li class="active"><a href="/#intro">Главная</a></li>
        <li><a href="/#about">О проекте</a></li>
        <li><a href="/#services">Курсы</a></li>
        <li><a href="/library">Онлайн-библиотека</a></li>
        <!-- <li><a href="/home#team"></a></li> -->
<li><a href="/news">Новости</a></li>
        <li><a href="/login">Вход</a></li>
        <li><a href="/apply">Регистрация</a></li>
        <li><a href="/change?lang=uz" onclick="selected('uz')">UZ</a></li>
        <li><a href="/change?lang=ru" onclick="selected('ru')">RU</a></li>
        <!-- <li><a href="/apply">Иконки социальных сетей</a></li> -->
    </nav><!-- .main-nav -->  
  </div>
</header><!-- #header -->
  <section id="intro" class="clearfix">
    <div class="container">
      <div class="intro-img">
        <img src="All/img/intro-img.svg" alt="" class="img-fluid">
      </div>
      <div class="intro-info">
        <h2>Go Digital<br><span>Воспроизводим новое поколение грамотных 
        </span><br>онлайн-пользователей в образовании!</h2>
        <div>
          <a href="/apply" class="btn-get-started scrollto">Начать курсы</a>
          <!-- <a href="#services" class="btn-services scrollto">Our Services</a> -->
        </div>
      </div>
    </div>
  </section><!-- #intro -->

  <main id="main">

    <!--==========================
      About Us Section
    ============================-->
    <section id="about">
      <div class="container">

        <header class="section-header">
          <h3>О нашем проекте</h3>
          <p>Данный проект создан с целью развития грамотного мышления у всех пользователей мировой паутины в сфере образования.
          </p>
        </header>

        <div class="row about-container">

          <div class="col-lg-6 content order-lg-1 order-2">
            <p>
              GoDigital - это онлайн-проект, который дает возможность школьникам, студентам, ассистентам и учителям пополнить свой багаж знаний о том, как грамотно и эффективно пользоваться всеми благами интернет-пространства и применять свои умения соответственно в своей образовательной деятельности.
            </p>

            <div class="icon-box wow fadeInUp">
              <div class="icon"><i class="fa fa-sign-in"></i></div>
              <h4 class="title"><a href="">Первый этап</a></h4>
              <p class="description">1. Зарегистрируйтесь на нашей платформе<br>
               </p>
            </div> 
            <div class="icon-box wow fadeInUp">
              <div class="icon"><i class="fa fa-tasks"></i></div>
              <h4 class="title"><a href="">Второй этап</a></h4>
              <p class="description">  2. Просмотрите видео-уроки по 10 модулям <br>3. Успешно сдайте тесты после каждого модуля
              </p>
            </div>
            <div class="icon-box wow fadeInUp" data-wow-delay="0.2s">
              <div class="icon"><i class="fa fa-comment"></i></div>
              <h4 class="title"><a href="">Третий этап</a></h4>
              <p class="description">  4. Оставьте отзыв<br>5. Получите сертификат</p>
            </div>
          </div>
          <div class="col-lg-6 background order-lg-2 order-1 wow fadeInUp">
            <img src="All/img/about-img.svg" class="img-fluid" alt="">
          </div>
        </div>
        <div class="row about-extra">
          <div class="col-lg-6 wow fadeInUp">
            <img src="All/img/about-extra-1.svg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 wow fadeInUp pt-5 pt-lg-0">
            <h4>О модулях.Введение: проникновение в неизвестную среду</h4>
            <p>
              1.1  Цифровая грамотность в реалиях 21 века: понятие и важность <br>
              1.2  Как онлайн образование связано с вашей цифровой компетентностью? <br> 
              1.3. Гуру онлайн-пространства: о нашем проекте, программе курсов для учеников, студентов и преподавателей               
            </p>
            <h4>Плаваем в онлайн-пространстве</h4>
            <p>
              2.1 Заплыв в информационную сеть: поиск информации <br>
              2.2 Ориентировка в инфо-паутине: анализ информации <br>
              2.3 Двигаемся по информационному течению: управление информацией <br>
            </p>
          </div>
        </div>
        <div class="row about-extra">
          <div class="col-lg-6 wow fadeInUp order-1 order-lg-2">
            <img src="All/img/about-extra-2.svg" class="img-fluid" alt="">
          </div>

          <div class="col-lg-6 wow fadeInUp pt-4 pt-lg-0 order-2 order-lg-1">
            <h4>Поговорим? или как выжить в онлайн-паутине</h4>
            <p>
              3.1. Онлайн 24/7: Социальные сети, мессенджеры, способы общения<br>
              3.2  По правилам нэтикета: как не оступиться в онлайн-пространстве<br>
               3.3  Доверяй, но проверяй: угроза контента и кибербезопасность
            </p>
            <h4>Мы не можем работать вместе! или способы онлайн-коллаборации</h4>
            <p>
              4.1 Одна голова хорошо, а две лучше: приложения для повышения продуктивности и совместной работы<br>
              4.2  Одна голова хорошо, ну а с Trello лучше<br>
              4.3 Хотя порой стоит и умалчивать: правила эффективного общения 
            </p>
            <h4>Век живи-век учись: расширяем свои познания об онлайн-обучении
            </h4>
            <p>
              5.1 А тебе слабо учиться онлайн? или как пользоваться платформами для обучения. Google Classroom.<br>
              5.2 Не стыдно не знать, стыдно не учиться: инструменты для обучения.<br>
              5.3 Онлайн-среда против людей 21 века: инструменты для обучения. Zoom.<br>
            </p>
          </div>
        </div>

      </div>
    </section>  
    <section id="services" class="section-bg">
      <div class="container">

        <header class="section-header">
          <h3>Зачем мне нужны эти курсы?
          </h3>
          <p>Наверняка, вы уже задаетесь этим вопросом и приступили к поиску причин и ответов, как поступают все пользователи умеющие мыслить критически. Мы можем помочь вам и перечислить лишь парочку из них:
          </p>
        </header>

        <div class="row">

          <div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon"><i class="ion-ios-analytics-outline" style="color: #ff689b;"></i></div>
              <h4 class="title"><a href="">Сертификат после окончания

                </a></h4>
              <p class="description">Каждый пользователь, который завершит курсы успешно, получит сертификат подтверждающий его/ее цифровую компетентность. 
              </p>
            </div>
          </div>
          <div class="col-md-6 col-lg-5 wow bounceInUp" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon"><i class="ion-ios-bookmarks-outline" style="color: #e9bf06;"></i></div>
              <h4 class="title"><a href="">Расширение знаний об онлайн-среде
                </a></h4>
              <p class="description">
                Во время прохождения наших курсов вы сможете узнать много интересного о том, как пользоваться ресурсами безопасно, как идти в ногу со всеми интернет-новшествами и т.д.
                </p>
            </div>
          </div>

          <div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon"><i class="ion-ios-paper-outline" style="color: #3fcdc7;"></i></div>
              <h4 class="title"><a href="">Повышение компетентности учителей  </a></h4>
              <p class="description">
                
                Как учитель, вы постоянно совершенствуете свои методы преподавания и наши курсы станут отличным дополнением к вашей уже сформировавшейся компетенции.
               </p>
            </div>
          </div>
          <div class="col-md-6 col-lg-5 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon"><i class="ion-ios-speedometer-outline" style="color:#41cf2e;"></i></div>
              <h4 class="title"><a href="">Повышение продуктивности во время учебы</a></h4>
              <p class="description">Как студент или школьник, вам безусловно необходимо трепетно относиться к виртуальному миру и извлекать выгоду, которая благоприятно повлияет на вашу учебную деятельность.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="why-us" class="wow fadeIn">
      <div class="container">
        <header class="section-header">
          <h3>Преимущества</h3>
          <p>Мы намерены повысить общий коэффициент грамотных интернет-пользователей по всему Узбекистану, поэтому наш проект продолжит совершенствоваться по всем областям цифровой грамотности и предоставлять следующие преимущества для GoDigital-участников:
          </p>
        </header>

        <div class="row row-eq-height justify-content-center">

          <div class="col-lg-4 mb-4">
            <div class="card wow bounceInUp">
                <i class="fa fa-diamond"></i>
              <div class="card-body">
                <h5 class="card-title">Бесплатные и доступные курсы </h5>
                <p class="card-text">Все курсы представленные на нашей платформе будут доступны всем пользователям с любой точки Узбекистана и абсолютно бесплатно.
                </p>
                <a href="/login" class="readmore">Перейти к курсам</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 mb-4">
            <div class="card wow bounceInUp">
                <i class="fa fa-language"></i>
              <div class="card-body">
                <h5 class="card-title">Пользовани онлайн-библиотекой</h5>
                <p class="card-text">Онлайн-библиотека открывает доступ к электронным ресурсам о цифровой грамотности, которые помогут еще больше расширить ваши знания в онлайн-среде.</p>
                <a href="/library" class="readmore">Перейти к библиотеке</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 mb-4">
            <div class="card wow bounceInUp">
                <i class="fa fa-object-group"></i>
              <div class="card-body">
                <h5 class="card-title">Участие в вебинарах</h5>
                <p class="card-text">Помимо курсов и материалов, вы сможете принять участие в вебинарах, которые проводятся на платформе Zoom. </p>
                <a href="/news" class="readmore">Узнать о вебинарах</a>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>
    </section>
 <section id="contact">
      <div class="container-fluid">
        <div class="section-header">
          <h3>Связаться с нами
          </h3>
        </div>
        <div class="row wow fadeInUp"  style="display:flex;justify-content: center;">
          <div class="col-lg-6">
            <div class="row">
              <div class="col-md-5 info">
                <i class="ion-ios-location-outline"></i>
                <p>Bukhara City</p>
              </div>
              <div class="col-md-4 info">
                <i class="ion-ios-email-outline"></i>
                <p> godigitaluz@gmail.com</p>
              </div>
              <div class="col-md-3 info">
                <i class="ion-ios-telephone-outline"></i>
                <p>+998 (90) 514 76 62</p>
              </div>
            </div>
            <div class="form">
              <div id="sendmessage">Your message has been sent. Thank you!</div>
              <div id="errormessage"></div>
             <form action="http://godigital.uz/userprofil" method="post" role="form" class="contactForm">
                <div class="form-row">
                  <div class="form-group col-lg-6">
                    <input type="text" name="name" class="form-control" id="name" placeholder="Ваше имя
                    " data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                    <div class="validation"></div>
                  </div>
                  <div class="form-group col-lg-6">
                    <input type="email" class="form-control" name="email" id="email" placeholder="Электронная почта
                    " data-rule="email" data-msg="Please enter a valid email" />
                    <div class="validation"></div>
                  </div>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" name="subject" id="subject" placeholder="Тема" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                  <div class="validation"></div>
                </div>
                <div class="form-group">
                  <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Сообщение
                  "></textarea>
                  <div class="validation"></div>
                </div>
                <div class="text-center"><button type="submit" title="Send Message">Отправить сообщение</button></div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 footer-info">
            <h3>Godigital</h3>
            <p>GoDigital - это первый онлайн-проект в Узбекистане о цифровой грамотности, который дает возможность школьникам, студентам, ассистентам и учителям пополнить свой багаж знаний о том, как грамотно и эффективно пользоваться всеми благами интернет-пространства и применять свои умения соответственно в своей образовательной деятельности.
  <br>
  <br>
                                                  Данный проект был осуществлен при финансовой поддержке Программы грантов фонда выпускников обменных программ Посольства США в Ташкенте. Все мнения, идеи, заключения или рекомендации выраженные здесь принадлежат автору(ам) и не отражают официальную точку зрения правительства США.  
  
  
            </p>
          </div>
          
         
         
          
            <br>
            <div class="col-lg-12 col-md-12 footer-info d-flex justify-content-around">
           
              <img src="All/img/Bayroq.PNG" width="220" height="100"  alt="">
              <img  src="All/img/pasos.PNG" width="220" height="100" alt="">
            </div>
            <div class="col-lg-12 col-md-12 social-links" style="text-align: center;">
              <h3>Социальные сети</h3>
         
              <a href="https://t.me/godigitaluz" class="telegram"><i class="fa fa-telegram"></i></a>
              <a href="https://www.facebook.com/GoDigital-Improving-digital-literacy-101914081627713" class="facebook"><i class="fa fa-facebook"></i></a>
              <a href="https://instagram.com/godigital.uz?igshid=17dgoy2z8wd6c" class="instagram"><i class="fa fa-instagram"></i></a>
            </div>
          
          </div>

         
        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>Godigital</strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!--
          All the links in the footer should remain intact.
          You can delete the links only if you purchased the pro version.
          Licensing information: https://bootstrapmade.com/license/
          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=NewBiz
        -->
        Designed by <a href="">Mirjakhon</a>
      </div>
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <!-- Uncomment below i you want to use a preloader -->
  <!-- <div id="preloader"></div> -->

  <!-- JavaScript Libraries -->
  <script src="js/jquery.min.js"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
  <script src="js/popper.min.js"></script> <!-- Popper tooltip library for Bootstrap -->
  <script src="js/bootstrap.min.js"></script> <!-- Bootstrap framework -->
  <script src="js/jquery.easing.min.js"></script> <!-- jQuery Easing for smooth scrolling between anchors -->
  <script src="js/swiper.min.js"></script> <!-- Swiper for image and text sliders -->
  <script src="js/jquery.magnific-popup.js"></script> <!-- Magnific Popup for lightboxes -->
  <script src="js/validator.min.js"></script> <!-- Validator.js - Bootstrap plugin that validates forms -->
  <script src="js/scripts.js"></script> <!-- Custom scripts -->
  <script src="All/lib/jquery/jquery.min.js"></script>
  <script src="All/lib/jquery/jquery-migrate.min.js"></script>
  <script src="All/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="All/lib/easing/easing.min.js"></script>
  <script src="All/lib/mobile-nav/mobile-nav.js"></script>
  <script src="All/lib/wow/wow.min.js"></script>
  <script src="All/lib/waypoints/waypoints.min.js"></script>
  <script src="All/lib/counterup/counterup.min.js"></script>
  <script src="All/lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="All/lib/isotope/isotope.pkgd.min.js"></script>
  <script src="All/lib/lightbox/js/lightbox.min.js"></script>
  <!-- Contact Form JavaScript File -->
  <script src="All/contactform/contactform.js"></script>

  <!-- Template Main Javascript File -->
  <script src="All/js/main.js"></script>
<script>
  function selected(lan){
    localStorage.setItem("lang",lan);
  }
</script>
</body>
</html>
