<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- SEO Meta Tags -->
    <meta name="description" content="Create a stylish landing page for your business startup and get leads for the offered services with this HTML landing page template.">
    <meta name="author" content="Inovatik">

    <!-- OG Meta Tags to improve the way the post looks when you share the page on LinkedIn, Facebook, Google+ -->
	<meta property="og:site_name" content="" /> <!-- website name -->
	<meta property="og:site" content="" /> <!-- website link -->
	<meta property="og:title" content=""/> <!-- title shown in the actual shared post -->
	<meta property="og:description" content="" /> <!-- description shown in the actual shared post -->
	<meta property="og:image" content="" /> <!-- image link, make sure it's jpg -->
	<meta property="og:url" content="" /> <!-- where do you want your post to link to -->
	<meta property="og:type" content="article" />
    <!-- Website Title -->
    <title>Go Digital Company</title>
    <!-- Styles -->     
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,600,700,700i&amp;subset=latin-ext" rel="stylesheet">
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/fontawesome-all.css" rel="stylesheet">
    <link href="css/swiper.css" rel="stylesheet">
	<link href="css/magnific-popup.css" rel="stylesheet">
	<link href="css/styles.css" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<!-- Favicon  -->
    <link rel="icon" href="images/favicon.png">
</head>
<body data-spy="scroll" data-target=".fixed-top">
    
    <!-- Preloader -->
	<!-- <div class="spinner-wrapper">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div> -->
    <!-- end of preloader -->
   <%- include('navbar2')%>
    <!-- Header -->
   

    <!-- Services -->
    <br>
    <br><br><br>
    <div  class="cards-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Bizning kurslarimiz endilikda rus va o'zbek tillarida!</h2>
                    <p class="p-heading p-large">Darslarni o'z sohasining yetuk mutaxasislari tomonidan olib boriladi va ular sizning bilim olishizga yaqindan yordam beradilar!</p>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
            <div class="row">
                <div class="col-lg-12">
                    <!-- Card -->
                    <div class="card" onclick="san()" >
                        <img class="card-image" src="images/services-icon-1.svg" alt="alternative">
                        <div class="card-body">
                            <h4 class="card-title">Yuqori Xizmat</h4>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam deleniti officiis nulla repellendus, adipisci vero nisi quo veniam debitis dolorum? Voluptates quaerat, dicta sint excepturi alias dolore praesentium omnis inventore.</p>
                        </div>
                    </div>  
                    <div class="card">
                        <img class="card-image" src="images/services-icon-3.svg" alt="alternative">
                        <div class="card-body">
                            <h4 class="card-title">Harakatlar Rejasi</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita rerum architecto nemo dolores minima voluptates cum, quas iure molestias tempora blanditiis! Aspernatur soluta cupiditate totam aut odit nobis neque dicta?</p>
                        </div>
                    </div>
                </div> 
            </div>
        </div> 
    </div> 
    <div id="accordion"> 
        <div class="card">
          <div class="card-body" id="heading1">
            <h5 class="mb-0">
              <button  class="btn btn-link" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
                <a href="#heading1" >Module #1</a>
              </button>
            </h5>
            </div>
          <div id="collapse1" class="collapse" aria-labelledby="heading1" data-parent="#accordion">
          </div>
        </div>
          <div class="card" >
            <div class="card-body" id="heading2">
              <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapse2" aria-expanded="true" aria-controls="collapse2">
               <a href="#heading2">Module #2</a>
                </button>
              </h5>
            </div>
            <div id="collapse2" class="collapse " aria-labelledby="heading2" data-parent="#accordion">
         
            </div>

        </div>
            <div class="card">
                <div class="card-body" id="heading3">
                  <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapse3" aria-expanded="true" aria-controls="collapse3">
                        <a href="#heading3">Module #3</a>
                    </button>
                  </h5>
                </div>
                <div id="collapse3" class="collapse " aria-labelledby="heading3" data-parent="#accordion">
                </div>
            </div>
            <div class="card">
                <div class="card-body" id="heading4">
                  <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapse4" aria-expanded="true" aria-controls="collapse4">
                        <a href="#heading4">Module #4</a>
                    </button>
                  </h5>
                </div>
                <div id="collapse4" class="collapse" aria-labelledby="heading3" data-parent="#accordion">
                </div>
            </div>
            <div class="card">
                <div class="card-body" id="heading5">
                  <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapse5" aria-expanded="true" aria-controls="collapse5">
                        <a href="#heading5">Module #5</a>
                    </button>
                  </h5>
                </div>
                <div id="collapse5" class="collapse" aria-labelledby="heading5" data-parent="#accordion">
                </div>
            </div>
            <div class="card">
                <div class="card-body" id="heading6">
                  <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapse6" aria-expanded="true" aria-controls="collapse6">
                        <a href="#heading6">Module #6</a>
                    </button>
                  </h5>
                </div>
                <div id="collapse6" class="collapse" aria-labelledby="heading6" data-parent="#accordion">
                </div>
            </div>
            <div class="card">
                <div class="card-body" id="heading7">
                  <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapse7" aria-expanded="true" aria-controls="collapse7">
                        <a href="#heading7">Module #7</a>
                    </button>
                  </h5>
                </div>
                <div id="collapse7" class="collapse" aria-labelledby="heading7" data-parent="#accordion">
                </div>
            </div>
            <div class="card">
                <div class="card-body" id="heading8">
                  <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapse8" aria-expanded="true" aria-controls="collapse8">
                        <a href="#heading8">Module #8</a>
                    </button>
                  </h5>
                </div>
                <div id="collapse8" class="collapse" aria-labelledby="heading8" data-parent="#accordion">
                </div>
            </div>
            <div class="card">
                <div class="card-body" id="heading9">
                  <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapse9" aria-expanded="true" aria-controls="collapse9">
                        <a href="#heading9">Module #9</a>
                    </button>
                  </h5>
                </div>
                <div id="collapse9" class="collapse" aria-labelledby="heading9" data-parent="#accordion">
                </div>
            </div>
            <div class="card">
                <div class="card-body" id="heading10">
                  <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapse10" aria-expanded="true" aria-controls="collapse10">
                        <a href="#heading10">Module #10</a>
                    </button>
                  </h5>
                </div>
                <div id="collapse10" class="collapse" aria-labelledby="heading10" data-parent="#accordion">
                </div>
                </div>
    </div>
<script>
   var card1=document.getElementById('collapse1')
   var card2=document.getElementById('collapse2')
   var card3=document.getElementById('collapse3')
   var card4=document.getElementById('collapse4')
   var card5=document.getElementById('collapse5')
   var card6=document.getElementById('collapse6')
   var card7=document.getElementById('collapse7')
   var card8=document.getElementById('collapse8')
   var card9=document.getElementById('collapse9')
   var card10=document.getElementById('collapse10')
   var collapse1;
   var collapse2;
   var collapse3;
   var collapse4;
   var collapse5;
   var collapse6;
   var collapse7;
   var collapse8;
   var collapse9;
   var collapse10;
   var m=[0,0,0,0,0,0,0,0,0,0,0,0,0];
 var data=<%- JSON.stringify(data) %>;
 for (i=0;i<data.length;i++){
    if (data[i].idVideo<=3)
    {
        m[1]+=1;
    collapse1=`<div class="basic-3">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <h2>Module 1.${m[1]} Video</h2>
                        </div> 
                    </div> 
                    <div class="row">
                        <div class="col-lg-12">                  
                            <div class="image-container">
                                <div class="video-wrapper">
                                    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="${data[i].videoname}" allowfullscreen></iframe>
    </div>
                                </div> 
                            </div> 
                            <p> ${data[i].videomain}</p>
                            <p><button class="btn btn-primary col-md-4" ><a href="https://godigitals.herokuapp.com/testget1" class="text-white">O'zingizni Sinab Ko'ring</a></button></p>
                   
                        </div>                     
                    </div>
                </div> 
            </div>`
        card1.innerHTML+=collapse1;
    }
    if (data[i].idVideo>3 && data[i].idVideo<=6)
    {
        m[2]+=1;
    collapse2=`<div class="basic-3">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <h2>Module 2.${m[2]} Video</h2>
                        </div> 
                    </div> 
                    <div class="row">
                        <div class="col-lg-12">                  
                            <div class="image-container">
                                <div class="video-wrapper">
                                    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="${data[i].videoname}" allowfullscreen></iframe>
    </div>
                                </div> 
                            </div> 
                            <p> ${data[i].videomain}</p>
                            <p><button class="btn btn-primary col-md-4" ><a href="https://godigitals.herokuapp.com/testget2" class="text-white">O'zingizni Sinab Ko'ring</a></button></p>
                            </div>                     
                    </div>
                </div> 
            </div>`
        card2.innerHTML+=collapse2;
    }
    if (data[i].idVideo>6 && data[i].idVideo<=9)
    {
        m[3]+=1
    collapse3=`<div class="basic-3">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <h2>Module 3.${m[3]} Video</h2>
                        </div> 
                    </div> 
                    <div class="row">
                        <div class="col-lg-12">                  
                            <div class="image-container">
                                <div class="video-wrapper">
                                    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="${data[i].videoname}" allowfullscreen></iframe>
    </div>
                                </div> 
                            </div> 
                            <p> ${data[i].videomain}</p>
                            <p><button class="btn btn-primary col-md-4" ><a href="https://godigitals.herokuapp.com/testget3" class="text-white">O'zingizni Sinab Ko'ring</a></button></p>
                        </div>                     
                    </div>
                </div> 
            </div>`
        card3.innerHTML+=collapse3;
    }
    if (data[i].idVideo>9 && data[i].idVideo<=12)
    {
        m[4]+=1;
    collapse4=`<div class="basic-3">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <h2>Module 4.${m[4]} Video</h2>
                        </div> 
                    </div> 
                    <div class="row">
                        <div class="col-lg-12">                  
                            <div class="image-container">
                                <div class="video-wrapper">
                                    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="${data[i].videoname}" allowfullscreen></iframe>
    </div>
                                </div> 
                            </div> 
                            <p> ${data[i].videomain}</p>
                            <p><button class="btn btn-primary col-md-4" ><a href="https://godigitals.herokuapp.com/testget4" class="text-white">O'zingizni Sinab Ko'ring</a></button></p>
                        </div>                     
                    </div>
                </div> 
            </div>`
        card4.innerHTML+=collapse4;
    }
    if (data[i].idVideo>12 && data[i].idVideo<=15)
    {
       m[5]+=1;
    collapse5=`<div class="basic-3">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <h2>Module 5.${m[5]} Video</h2>
                        </div> 
                    </div> 
                    <div class="row">
                        <div class="col-lg-12">                  
                            <div class="image-container">
                                <div class="video-wrapper">
                                    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="${data[i].videoname}" allowfullscreen></iframe>
    </div>
                                </div> 
                            </div> 
                            <p> ${data[i].videomain}</p>
                            <p><button class="btn btn-primary col-md-4" ><a href="https://godigitals.herokuapp.com/testget5" class="text-white">O'zingizni Sinab Ko'ring</a></button></p>
                   
                        </div>                     
                    </div>
                </div> 
            </div>`
        card5.innerHTML+=collapse5;
    }
    if (data[i].idVideo>15 && data[i].idVideo<=18)
    {
        m[6]+=1
    collapse6=`<div class="basic-3">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <h2>Module 6.${m[6]} Video</h2>
                        </div> 
                    </div> 
                    <div class="row">
                        <div class="col-lg-12">                  
                            <div class="image-container">
                                <div class="video-wrapper">
                                    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="${data[i].videoname}" allowfullscreen></iframe>
    </div>
                                </div> 
                            </div> 
                            <p> ${data[i].videomain}</p>
                            <p><button class="btn btn-primary col-md-4" ><a href="https://godigitals.herokuapp.com/testget6" class="text-white">O'zingizni Sinab Ko'ring</a></button></p>
                   
                        </div>                     
                    </div>
                </div> 
            </div>`
        card6.innerHTML+=collapse6;
    }
    if (data[i].idVideo>18 && data[i].idVideo<=21)
    {
        m[7]+=1;
    collapse7=`<div class="basic-3">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <h2>Module 7.${m[7]} Video</h2>
                        </div> 
                    </div> 
                    <div class="row">
                        <div class="col-lg-12">                  
                            <div class="image-container">
                                <div class="video-wrapper">
                                    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="${data[i].videoname}" allowfullscreen></iframe>
    </div>
                                </div> 
                            </div> 
                            <p> ${data[i].videomain}</p>
                            <p><button class="btn btn-primary col-md-4" ><a href="https://godigitals.herokuapp.com/testget7" class="text-white">O'zingizni Sinab Ko'ring</a></button></p>
                        </div>                     
                    </div>
                </div> 
            </div>`
        card7.innerHTML+=collapse7;
    }
    if (data[i].idVideo>21 && data[i].idVideo<=24)
    {
        m[8]+=1
    collapse8=`<div class="basic-3">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <h2>Module 8.${m[8]} Video</h2>
                        </div> 
                    </div> 
                    <div class="row">
                        <div class="col-lg-12">                  
                            <div class="image-container">
                                <div class="video-wrapper">
                                    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="${data[i].videoname}" allowfullscreen></iframe>
    </div>
                                </div> 
                            </div> 
                            <p> ${data[i].videomain}</p>
                            <p><button class="btn btn-primary col-md-4" ><a href="https://godigitals.herokuapp.com/testget8" class="text-white">O'zingizni Sinab Ko'ring</a></button></p>
                   
                        </div>                     
                    </div>
                </div> 
            </div>`
        card8.innerHTML+=collapse8;
    }
    if (data[i].idVideo>24 && data[i].idVideo<=27)
    {
        m[9]+=1
    collapse9=`<div class="basic-3">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <h2>Module 9.${m[9]} Video</h2>
                        </div> 
                    </div> 
                    <div class="row">
                        <div class="col-lg-12">                  
                            <div class="image-container">
                                <div class="video-wrapper">
                                    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="${data[i].videoname}" allowfullscreen></iframe>
    </div>
                                </div> 
                            </div> 
                            <p> ${data[i].videomain}</p>
                            <p><button class="btn btn-primary col-md-4" ><a href="https://godigitals.herokuapp.com/testget9" class="text-white">O'zingizni Sinab Ko'ring</a></button></p>
                        </div>                     
                    </div>
                </div> 
            </div>`
        card9.innerHTML+=collapse9;
    }
    if (data[i].idVideo>27 && data[i].idVideo<=30)
    {
        m[10]+=1;
    collapse10=`<div class="basic-3">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <h2>Module 10.${m[10]} Video</h2>
                        </div> 
                    </div> 
                    <div class="row">
                        <div class="col-lg-12">                  
                            <div class="image-container">
                                <div class="video-wrapper">
                                    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="${data[i].videoname}" allowfullscreen></iframe>
    </div>
                                </div> 
                            </div> 
                            <p> ${data[i].videomain}</p>
                            <p><button class="btn btn-primary col-md-4" ><a href="https://godigitals.herokuapp.com/testget10" class="text-white">O'zingizni Sinab Ko'ring</a></button></p>
                        </div>                     
                    </div>
                </div> 
            </div>`
        card10.innerHTML+=collapse10;
    }
}
</script>
    <div class="basic-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="text-container">
                        <h2>Barcha darslarda sifat har doim o'sib boradi</h2>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Debitis magni beatae temporibus quasi atque placeat non iure totam, eveniet quis mollitia eius labore cupiditate nisi repellendus enim quae, nesciunt corporis!</p>
                        <a class="btn-solid-reg popup-with-move-anim" href="#details-lightbox-1">Ko'proq</a>
                    </div> 
                </div> 
                <div class="col-lg-6">
                    <div class="image-container">
                        <img class="img-fluid" src="images/details-1-office-worker.svg" alt="alternative">
                    </div> 
                </div> 
            </div> 
        </div> 
    </div> 

 <div id="accordion1" >
 
    </div>
    </div>
    <!-- Details 2 -->
    <div class="basic-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="image-container">
                        <img class="img-fluid" src="images/details-2-office-team-work.svg" alt="alternative">
                    </div> <!-- end of image-container -->
                </div> <!-- end of col -->
                <div class="col-lg-6">
                    <div class="text-container">
                        <h2>Kurslarning Davomiyligini Taminlaymiz</h2>
                        <ul class="list-unstyled li-space-lg">
                            <li class="media">
                                <i class="fas fa-check"></i>
                                <div class="media-body">Basically we'll teach you step by step what you need to do</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-check"></i>
                                <div class="media-body">Basically we'll teach you step by step what you need to do</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-check"></i>
                                <div class="media-body">Basically we'll teach you step by step what you need to do</div>
                            </li>
                        </ul>
                        <a class="btn-solid-reg popup-with-move-anim" >LIGHTBOX</a>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of basic-2 -->
    <!-- end of details 2 -->
</div>
    <!-- Details Lightboxes -->
    <!-- Details Lightbox 1 -->
	<div id="details-lightbox-1" class="lightbox-basic zoom-anim-dialog mfp-hide">
        <div class="container">
            <div class="row">
                <button title="Close (Esc)" type="button" class="mfp-close x-button">×</button>
                <div class="col-lg-8">
                    <div class="image-container">
                        <img class="img-fluid" src="images/details-lightbox-1.svg" alt="alternative">
                    </div> <!-- end of image-container -->
                </div> <!-- end of col -->
                <div class="col-lg-4">
                    <h3>MAQSAD VA REJA</h3>
                    <hr>
                    <h5>BARCHASI KELJAK UCHUN </h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam ratione, et est soluta omnis aliquid, ipsum molestias architecto neque esse cumque cupiditate consectetur illum nostrum repellendus enim voluptas veritatis veniam.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur eveniet aliquam autem assumenda? Odit in unde doloribus reprehenderit. </p>
                    <ul class="list-unstyled li-space-lg">
                        <li class="media">
                            <i class="fas fa-check"></i><div class="media-body">Consequuntur eveniet aliquam aute</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-check"></i><div class="media-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. </div>
                        </li>
                        <li class="media">
                            <i class="fas fa-check"></i><div class="media-body">Placeat illo veniam sint sit cum.</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-check"></i><div class="media-body">Automate user signup</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-check"></i><div class="media-body">Sat atque necessitatibus</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-check"></i><div class="media-body">Fast email checking</div>
                        </li>
                    </ul>
                    <a class="btn-solid-reg mfp-close page-scroll" href="#request">Savollar</a> <a class="btn-outline-reg mfp-close as-button" href="#screenshots">Orqaga</a>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of lightbox-basic -->
    <!-- end of details lightbox 1 -->

    <!-- Details Lightbox 2 -->
	<div id="details-lightbox-2" class="lightbox-basic zoom-anim-dialog mfp-hide">
        <div class="container">
            <div class="row">
                <button title="Close (Esc)" type="button" class="mfp-close x-button">×</button>
                <div class="col-lg-8">
                    <div class="image-container">
                        <img class="img-fluid" src="images/details-lightbox-2.svg" alt="alternative">
                    </div> <!-- end of image-container -->
                </div> <!-- end of col -->
                <div class="col-lg-4">
                    <h3>Search To Optimize</h3>
                    <hr>
                    <h5>Core feature</h5>
                    <p>The emailing module basically will speed up your email marketing operations while offering more subscriber control.</p>
                    <p>Do you need to build lists for your email campaigns? It just got easier with Evolo.</p>
                    <ul class="list-unstyled li-space-lg">
                        <li class="media">
                            <i class="fas fa-check"></i><div class="media-body">List building framework</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-check"></i><div class="media-body">Easy database browsing</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-check"></i><div class="media-body">User administration</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-check"></i><div class="media-body">Automate user signup</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-check"></i><div class="media-body">Quick formatting tools</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-check"></i><div class="media-body">Fast email checking</div>
                        </li>
                    </ul>
                    <a class="btn-solid-reg mfp-close page-scroll" href="#request">REQUEST</a> <a class="btn-outline-reg mfp-close as-button" href="#screenshots">BACK</a>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of lightbox-basic -->
    <!-- end of details lightbox 2 -->
    <!-- end of details lightboxes -->


   

                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of cards-2 -->
    <!-- end of pricing -->


    
    <div class="basic-3">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Check Out The Video</h2>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
            <div class="row">
                <div class="col-lg-12">
                    
                    <!-- Video Preview -->
                    <div class="image-container">
                        <div class="video-wrapper">
                            <a class="popup-youtube" href="https://www.youtube.com/watch?v=c-40Wx83-CE&list=RDc-40Wx83-CE&start_radio=1" data-effect="fadeIn">
                                <img class="img-fluid" src="images/video-frame.svg" alt="alternative">
                                <span class="video-play-button">
                                    <span></span>
                                </span>
                            </a>
                        </div> <!-- end of video-wrapper -->
                    </div> <!-- end of image-container -->
                    <!-- end of video preview -->

                    <p>Lorem ipsum dolom aperiam, nam quia modi laudantium corrupti cumque perspiciatis molestias ullam reiciendis ad suscipit, laborum distinctio, eaque aspernatur mollitia asperiores magnam! <strong>Shakhzoda Mirakova</strong>Lorem ipsum,rem!
                  </p>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of basic-3 -->
    <!-- end of video -->
      

    <!-- Testimonials -->
    <div class="slider-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="image-container">
                        <img class="img-fluid" src="images/testimonials-2-men-talking.svg" alt="alternative">
                    </div> <!-- end of image-container -->
                </div> <!-- end of col -->
                <div class="col-lg-6">
                    <h2>Kursimiz Haqida  Fikrlar!</h2>

                    <!-- Card Slider -->
                    <div class="slider-container">
                        <div class="swiper-container card-slider">
                            <div class="swiper-wrapper">
                                
                                <!-- Slide -->
                                <div class="swiper-slide">
                                    <div class="card">
                                        <img class="card-image" src="images/testimonial-1.svg" alt="alternative">
                                        <div class="card-body">
                                            <p class="testimonial-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis rerum mollitia aliquam? Recusandae maiores soluta culpa reiciendis sit nisi ullam optio tempore, modi laborum, laudantium consequuntur aliquam dolorum inventore cumque?</p>
                                            <p class="testimonial-author">Shakhzoda Mirakova-Owner</p>
                                        </div>
                                    </div>
                                </div> <!-- end of swiper-slide -->
                                <!-- end of slide -->
        
                                <!-- Slide -->
                                <div class="swiper-slide">
                                    <div class="card">
                                        <img class="card-image" src="images/testimonial-2.svg" alt="alternative">
                                        <div class="card-body">
                                            <p class="testimonial-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit commodi autem provident ex totam facilis officiis, officia, vitae fugiat accusamus dolores velit atque laborum minima, deserunt saepe? Libero, enim ipsum.</p>
                                            <p class="testimonial-author">Shakhzoda Mirakova-Owner</p>
                                        </div>
                                    </div>        
                                </div> <!-- end of swiper-slide -->
                                <!-- end of slide -->
        
                                <!-- Slide -->
                                <div class="swiper-slide">
                                    <div class="card">
                                        <img class="card-image" src="images/testimonial-3.svg" alt="alternative">
                                        <div class="card-body">
                                            <p class="testimonial-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum iure ipsam perspiciatis sit? Temporibus necessitatibus minus, nobis ipsa laborum numquam harum voluptatem dolore voluptate pariatur aliquam, quis soluta magni unde.</p>
                                            <p class="testimonial-author">Shakhzoda Mirakova-Owner</p>
                                        </div>
                                    </div>        
                                </div> <!-- end of swiper-slide -->
                                <!-- end of slide -->
                               
                            </div> <!-- end of swiper-wrapper -->
        
                            <!-- Add Arrows -->
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                            <!-- end of add arrows -->
        
                        </div> <!-- end of swiper-container -->
                    </div> <!-- end of slider-container -->
                    <!-- end of card slider -->

                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of slider-2 -->
    <!-- end of testimonials -->


    <!-- About -->
    <div id="about" class="basic-4">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Jamoamiz Haqida</h2>
                    <p class="p-heading p-large">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit ab debitis blanditiis culpa vel. Eaque molestiae ea voluptatem facere ab error vel ex ipsam placeat nam tempora nisi, porro fuga.</p>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
            <div class="row">
                <div class="col-lg-12">
                    
                    <!-- Team Member -->
                    <div class="team-member">
                        <div class="image-wrapper">
                            <img class="img-fluid" src="images/team-member-1.svg" alt="alternative">
                        </div> <!-- end of image-wrapper -->
                        <p class="p-large"><strong>Shakhzoda Mirakova</strong></p>
                        <p class="job-title">Owner</p>
                        <span class="social-icons">
                            <span class="fa-stack">
                                <a href="#your-link">
                                    <i class="fas fa-circle fa-stack-2x facebook"></i>
                                    <i class="fab fa-facebook-f fa-stack-1x"></i>
                                </a>
                            </span>
                            <span class="fa-stack">
                                <a href="#your-link">
                                    <i class="fas fa-circle fa-stack-2x twitter"></i>
                                    <i class="fab fa-twitter fa-stack-1x"></i>
                                </a>
                            </span>
                        </span> <!-- end of social-icons -->
                    </div> <!-- end of team-member -->
                    <!-- end of team member -->

                    <!-- Team Member -->
                    <div class="team-member">
                        <div class="image-wrapper">
                            <img class="img-fluid" src="images/team-member-2.svg" alt="alternative">
                        </div> <!-- end of image wrapper -->
                        <p class="p-large"><strong>Shakhzoda Mirakova</strong></p>
                        <p class="job-title">Owner</p>
                        <span class="social-icons">
                            <span class="fa-stack">
                                <a href="#your-link">
                                    <i class="fas fa-circle fa-stack-2x facebook"></i>
                                    <i class="fab fa-facebook-f fa-stack-1x"></i>
                                </a>
                            </span>
                            <span class="fa-stack">
                                <a href="#your-link">
                                    <i class="fas fa-circle fa-stack-2x twitter"></i>
                                    <i class="fab fa-twitter fa-stack-1x"></i>
                                </a>
                            </span>
                        </span> <!-- end of social-icons -->
                    </div> <!-- end of team-member -->
                    <!-- end of team member -->

                    <!-- Team Member -->
                    <div class="team-member">
                        <div class="image-wrapper">
                            <img class="img-fluid" src="images/team-member-3.svg" alt="alternative">
                        </div> <!-- end of image wrapper -->
                        <p class="p-large"><strong>Shakhzoda Mirakova</strong></p>
                        <p class="job-title">Shakhzoda Mirakova</p>
                        <span class="social-icons">
                            <span class="fa-stack">
                                <a href="#your-link">
                                    <i class="fas fa-circle fa-stack-2x facebook"></i>
                                    <i class="fab fa-facebook-f fa-stack-1x"></i>
                                </a>
                            </span>
                            <span class="fa-stack">
                                <a href="#your-link">
                                    <i class="fas fa-circle fa-stack-2x twitter"></i>
                                    <i class="fab fa-twitter fa-stack-1x"></i>
                                </a>
                            </span>
                        </span> <!-- end of social-icons -->
                    </div> <!-- end of team-member -->
                    <!-- end of team member -->

                    <!-- Team Member -->
                    <div class="team-member">
                        <div class="image-wrapper">
                            <img class="img-fluid" src="images/team-member-4.svg" alt="alternative">
                        </div> <!-- end of image wrapper -->
                        <p class="p-large"><strong>Shakhzoda Mirakova</strong></p>
                        <p class="job-title">Owner</p>
                        <span class="social-icons">
                            <span class="fa-stack">
                                <a href="#your-link">
                                    <i class="fas fa-circle fa-stack-2x facebook"></i>
                                    <i class="fab fa-facebook-f fa-stack-1x"></i>
                                </a>
                            </span>
                            <span class="fa-stack">
                                <a href="#your-link">
                                    <i class="fas fa-circle fa-stack-2x twitter"></i>
                                    <i class="fab fa-twitter fa-stack-1x"></i>
                                </a>
                            </span>
                        </span> <!-- end of social-icons -->
                    </div> <!-- end of team-member -->
                    <!-- end of team member -->

                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of basic-4 -->
    <!-- end of about -->


    <!-- Contact -->
    <div id="contact" class="form-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Fikrlaringizni Yozib Qoldiring</h2>
                    <ul class="list-unstyled li-space-lg">
                        <!-- <li class="address">Biz uchun sizning fikringiz juda qiziq!</li>
                        <li><i class="fas fa-map-marker-alt"></i>22 Innovative Area, San Francisco, CA 94043, US</li>
                        <li><i class="fas fa-phone"></i><a class="turquoise" href="tel:003024630820">+81 720 2212</a></li>
                        <li><i class="fas fa-envelope"></i><a class="turquoise" href="mailto:office@evolo.com">office@evolo.com</a></li> -->
                    </ul>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
            <div class="row">
                <div class="col-lg-6">
                    <div class="map-responsive">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d100939.98555098464!2d-122.507640204439!3d37.757814996609724!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80859a6d00690021%3A0x4a501367f076adff!2sSan+Francisco%2C+CA%2C+USA!5e0!3m2!1sen!2sro!4v1498231462606" allowfullscreen></iframe>
                    </div>
                </div> <!-- end of col -->
                <div class="col-lg-6">
                    
                    <!-- Contact Form -->
                    <form action="https://godigitals.herokuapp.com/userprofil" method="POST" >
                        <div class="form-group">
                            <input type="text" class="form-control-input" id="cname" name="name">
                            <label class="label-control" for="cname">Name</label>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control-input" id="cemail" name="email">
                            <label class="label-control" for="cemail">Email</label>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control-textarea" id="cmessage" name="feedback"></textarea>
                            <label class="label-control" for="cmessage">Your message</label>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="form-control-submit-button">SUBMIT MESSAGE</button>
                        </div>
                        <div class="form-message">
                            <div id="cmsgSubmit" class="h3 text-center hidden"></div>
                        </div>
                   
                                       </form>
                    <!-- end of contact form -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of form-2 -->
    <!-- end of contact -->


    <!-- Footer -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="footer-col">
                        <h4>Go Digital Haqida </h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius odit quibusdam recusandae veniam. Libero asperiores, similique dolor </p>
                    </div>
                </div> <!-- end of col -->
                <div class="col-md-4">
                    <div class="footer-col middle">
                        <h4>Hamkorlarimiz</h4>
                        <ul class="list-unstyled li-space-lg">
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">Bizning Yetakchi Hamkorimiz <a class="turquoise" href="#your-link">leader.uz</a></div>
                            </li>
                            <!-- <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">Read our <a class="turquoise" href="terms-conditions.html">Terms & Conditions</a>, <a class="turquoise" href="privacy-policy.html">Privacy Policy</a></div>
                            </li> -->
                        </ul>
                    </div>
                </div> <!-- end of col -->
                <div class="col-md-4">
                    <div class="footer-col last">
                        <h4>Ijtimoiy Tarmoqlar</h4>
                        <span class="fa-stack">
                            <a href="#your-link">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-facebook-f fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="#your-link">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-twitter fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="#your-link">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-google-plus-g fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="#your-link">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-instagram fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="#your-link">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-linkedin-in fa-stack-1x"></i>
                            </a>
                        </span>
                    </div> 
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of footer -->  
    <!-- end of footer -->


    <!-- Copyright -->
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p class="p-small">Copyright © 2020 <a href="#">Team M</a> - All rights reserved</p>
                </div> <!-- end of col -->
            </div> <!-- enf of row -->
        </div> <!-- end of container -->
    </div> <!-- end of copyright --> 
    <!-- end of copyright -->
    <!-- Scripts -->
      <script src="js/jquery.min.js"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
    <script src="js/popper.min.js"></script> <!-- Popper tooltip library for Bootstrap -->
    <script src="js/bootstrap.min.js"></script> <!-- Bootstrap framework -->
    <script src="js/jquery.easing.min.js"></script> <!-- jQuery Easing for smooth scrolling between anchors -->
    <script src="js/swiper.min.js"></script> <!-- Swiper for image and text sliders -->
    <script src="js/jquery.magnific-popup.js"></script> <!-- Magnific Popup for lightboxes -->
    <script src="js/validator.min.js"></script> <!-- Validator.js - Bootstrap plugin that validates forms -->
    <script src="js/scripts.js"></script> <!-- Custom scripts -->
</body>
</html>