<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>DKA.UZ Modules </title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
    <meta name="description" content="Wide selection of buttons that feature different styles for backgrounds, borders and hover options!">
    <meta name="msapplication-tap-highlight" content="no">
<link href="/main.css" rel="stylesheet"></head>
<body>      
    <div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
         
        <div class="app-header header-shadow">
        
            <div class="app-header__logo">
                <a href="/" style="text-decoration:none;"><h1 class="text-primary">DKA.UZ</h1></a>  
       
                <div class="logo-src"></div>
                <div class="header__pane ml-auto "  >
      
                    <div style="padding-right: 220px;">
                       
                        <button type="button" style="margin-left: 60px;" class="hamburger close-sidebar-btn hamburger--elastic" data-class="closed-sidebar">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
      
                        </button>
       
                    </div>
                </div>
            </div>
            
            <div class="app-header__mobile-menu">
                <div >
                    <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
                        <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                        </span>
                    </button>
                </div>
            </div>
        
            <div class="app-header__menu"> 
                <span>
            
                    <button type="button" class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
                        <span class="btn-icon-wrapper">
                            <i class="fa fa-ellipsis-v fa-w-6"></i>
                        </span>
                    </button>
                </span>
            </div>
            <div class="app-header__content" >
                <div class="app-header-left" >
                    <div class="search-wrapper" >
                        <div class="input-holder" >
                        </div>
                        <button class="close"></button>
                    </div>
                                    </ul>        
                </div>
               
                <div class="app-header-right">
                    <div class="header-btn-lg pr-0">
                        <div class="widget-content p-0">
                            <div class="widget-content-wrapper">
                                <div class="widget-content-left">
                                    <div class="btn-group">
                                
                                        <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="p-0 btn">
                                            <img width="42" class="rounded-circle" src="assets/images/avatars/1.jpg" alt="">
                                            <!-- <i class="fa fa-angle-down ml-2 opacity-8"></i> -->
                                        </a>
                                        <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu dropdown-menu-right">
                                            <button type="button" tabindex="0" class="dropdown-item">User Account</button>
                                            <button type="button" tabindex="0" class="dropdown-item">Settings</button>
                                            <h6 tabindex="-1" class="dropdown-header">Header</h6>
                                            <button type="button" tabindex="0" class="dropdown-item">Actions</button>
                                            <div tabindex="-1" class="dropdown-divider"></div>
                                            <button type="button" tabindex="0" class="dropdown-item">Dividers</button>
                                      
                                        </div>
                                    </div>
                                </div>
                              <a href="/library" style="text-decoration: none;"> <h3>Onlayn Kutubxona</h3></a>                    
               
                                <div class="widget-content-left  ml-3 header-user-info">
                                    <div class="widget-heading">
                                        <%= fname %>
                                        <%= lname%>
                                    </div>
                                    <div class="widget-subheading">
                                        Foydalanuvchi
                                    </div>
                                </div>
                                <div class="widget-content-right header-user-info ml-3">
                                    <button type="button" class="btn-shadow p-1 btn btn-primary btn-sm show-toastr-example">
                                        <i class="fa text-white fa-calendar pr-1 pl-1"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>        </div>
            </div>
        </div>        <div class="ui-theme-settings">
            <button type="button" id="TooltipDemo" class="btn-open-options btn btn-warning">
                <i class="fa fa-cog fa-w-16 fa-spin fa-2x"></i>
            </button>
            <div class="theme-settings__inner">
                <div class="scrollbar-container">
                    <div class="theme-settings__options-wrapper">
                        <h3 class="themeoptions-heading">Layout Options
                        </h3>
                        <div class="p-3">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <div class="widget-content p-0">
                                        <div class="widget-content-wrapper">
                                            <div class="widget-content-left mr-3">
                                                <div class="switch has-switch switch-container-class" data-class="fixed-header">
                                                    <div class="switch-animate switch-on">
                                                        <input type="checkbox" checked data-toggle="toggle" data-onstyle="success">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="widget-content-left">
                                                <div class="widget-heading">Fixed Header
                                                </div>
                                                <div class="widget-subheading">Makes the header top fixed, always visible!
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="widget-content p-0">
                                        <div class="widget-content-wrapper">
                                            <div class="widget-content-left mr-3">
                                                <div class="switch has-switch switch-container-class" data-class="fixed-sidebar">
                                                    <div class="switch-animate switch-on">
                                                        <input type="checkbox" checked data-toggle="toggle" data-onstyle="success">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="widget-content-left">
                                                <div class="widget-heading">Fixed Sidebar
                                                </div>
                                                <div class="widget-subheading">Makes the sidebar left fixed, always visible!
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="widget-content p-0">
                                        <div class="widget-content-wrapper">
                                            <div class="widget-content-left mr-3">
                                                <div class="switch has-switch switch-container-class" data-class="fixed-footer">
                                                    <div class="switch-animate switch-off">
                                                        <input type="checkbox" data-toggle="toggle" data-onstyle="success">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="widget-content-left">
                                                <div class="widget-heading">Fixed Footer
                                                </div>
                                                <div class="widget-subheading">Makes the app footer bottom fixed, always visible!
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <h3 class="themeoptions-heading">
                            <div>
                                Header Options
                            </div>
                            <button type="button" class="btn-pill btn-shadow btn-wide ml-auto btn btn-focus btn-sm switch-header-cs-class" data-class="">
                                Restore Default
                            </button>
                        </h3>
                        <div class="p-3">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <h5 class="pb-2">Choose Color Scheme
                                    </h5>
                                    <div class="theme-settings-swatches">
                                        <div class="swatch-holder bg-primary switch-header-cs-class" data-class="bg-primary header-text-light">
                                        </div>
                                        <div class="swatch-holder bg-secondary switch-header-cs-class" data-class="bg-secondary header-text-light">
                                        </div>
                                        <div class="swatch-holder bg-success switch-header-cs-class" data-class="bg-success header-text-dark">
                                        </div>
                                        <div class="swatch-holder bg-info switch-header-cs-class" data-class="bg-info header-text-dark">
                                        </div>
                                        <div class="swatch-holder bg-warning switch-header-cs-class" data-class="bg-warning header-text-dark">
                                        </div>
                                        <div class="swatch-holder bg-danger switch-header-cs-class" data-class="bg-danger header-text-light">
                                        </div>
                                        <div class="swatch-holder bg-light switch-header-cs-class" data-class="bg-light header-text-dark">
                                        </div>
                                        <div class="swatch-holder bg-dark switch-header-cs-class" data-class="bg-dark header-text-light">
                                        </div>
                                        <div class="swatch-holder bg-focus switch-header-cs-class" data-class="bg-focus header-text-light">
                                        </div>
                                        <div class="swatch-holder bg-alternate switch-header-cs-class" data-class="bg-alternate header-text-light">
                                        </div>
                                        <div class="divider">
                                        </div>
                                        <div class="swatch-holder bg-vicious-stance switch-header-cs-class" data-class="bg-vicious-stance header-text-light">
                                        </div>
                                        <div class="swatch-holder bg-midnight-bloom switch-header-cs-class" data-class="bg-midnight-bloom header-text-light">
                                        </div>
                                        <div class="swatch-holder bg-night-sky switch-header-cs-class" data-class="bg-night-sky header-text-light">
                                        </div>
                                        <div class="swatch-holder bg-slick-carbon switch-header-cs-class" data-class="bg-slick-carbon header-text-light">
                                        </div>
                                        <div class="swatch-holder bg-asteroid switch-header-cs-class" data-class="bg-asteroid header-text-light">
                                        </div>
                                        <div class="swatch-holder bg-royal switch-header-cs-class" data-class="bg-royal header-text-light">
                                        </div>
                                        <div class="swatch-holder bg-warm-flame switch-header-cs-class" data-class="bg-warm-flame header-text-dark">
                                        </div>
                                        <div class="swatch-holder bg-night-fade switch-header-cs-class" data-class="bg-night-fade header-text-dark">
                                        </div>
                                        <div class="swatch-holder bg-sunny-morning switch-header-cs-class" data-class="bg-sunny-morning header-text-dark">
                                        </div>
                                        <div class="swatch-holder bg-tempting-azure switch-header-cs-class" data-class="bg-tempting-azure header-text-dark">
                                        </div>
                                        <div class="swatch-holder bg-amy-crisp switch-header-cs-class" data-class="bg-amy-crisp header-text-dark">
                                        </div>
                                        <div class="swatch-holder bg-heavy-rain switch-header-cs-class" data-class="bg-heavy-rain header-text-dark">
                                        </div>
                                        <div class="swatch-holder bg-mean-fruit switch-header-cs-class" data-class="bg-mean-fruit header-text-dark">
                                        </div>
                                        <div class="swatch-holder bg-malibu-beach switch-header-cs-class" data-class="bg-malibu-beach header-text-light">
                                        </div>
                                        <div class="swatch-holder bg-deep-blue switch-header-cs-class" data-class="bg-deep-blue header-text-dark">
                                        </div>
                                        <div class="swatch-holder bg-ripe-malin switch-header-cs-class" data-class="bg-ripe-malin header-text-light">
                                        </div>
                                        <div class="swatch-holder bg-arielle-smile switch-header-cs-class" data-class="bg-arielle-smile header-text-light">
                                        </div>
                                        <div class="swatch-holder bg-plum-plate switch-header-cs-class" data-class="bg-plum-plate header-text-light">
                                        </div>
                                        <div class="swatch-holder bg-happy-fisher switch-header-cs-class" data-class="bg-happy-fisher header-text-dark">
                                        </div>
                                        <div class="swatch-holder bg-happy-itmeo switch-header-cs-class" data-class="bg-happy-itmeo header-text-light">
                                        </div>
                                        <div class="swatch-holder bg-mixed-hopes switch-header-cs-class" data-class="bg-mixed-hopes header-text-light">
                                        </div>
                                        <div class="swatch-holder bg-strong-bliss switch-header-cs-class" data-class="bg-strong-bliss header-text-light">
                                        </div>
                                        <div class="swatch-holder bg-grow-early switch-header-cs-class" data-class="bg-grow-early header-text-light">
                                        </div>
                                        <div class="swatch-holder bg-love-kiss switch-header-cs-class" data-class="bg-love-kiss header-text-light">
                                        </div>
                                        <div class="swatch-holder bg-premium-dark switch-header-cs-class" data-class="bg-premium-dark header-text-light">
                                        </div>
                                        <div class="swatch-holder bg-happy-green switch-header-cs-class" data-class="bg-happy-green header-text-light">
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <h3 class="themeoptions-heading">
                            <div>Sidebar Options</div>
                            <button type="button" class="btn-pill btn-shadow btn-wide ml-auto btn btn-focus btn-sm switch-sidebar-cs-class" data-class="">
                                Restore Default
                            </button>
                        </h3>
                        <div class="p-3">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <h5 class="pb-2">Choose Color Scheme
                                    </h5>
                                    <div class="theme-settings-swatches">
                                        <div class="swatch-holder bg-primary switch-sidebar-cs-class" data-class="bg-primary sidebar-text-light">
                                        </div>
                                        <div class="swatch-holder bg-secondary switch-sidebar-cs-class" data-class="bg-secondary sidebar-text-light">
                                        </div>
                                        <div class="swatch-holder bg-success switch-sidebar-cs-class" data-class="bg-success sidebar-text-dark">
                                        </div>
                                        <div class="swatch-holder bg-info switch-sidebar-cs-class" data-class="bg-info sidebar-text-dark">
                                        </div>
                                        <div class="swatch-holder bg-warning switch-sidebar-cs-class" data-class="bg-warning sidebar-text-dark">
                                        </div>
                                        <div class="swatch-holder bg-danger switch-sidebar-cs-class" data-class="bg-danger sidebar-text-light">
                                        </div>
                                        <div class="swatch-holder bg-light switch-sidebar-cs-class" data-class="bg-light sidebar-text-dark">
                                        </div>
                                        <div class="swatch-holder bg-dark switch-sidebar-cs-class" data-class="bg-dark sidebar-text-light">
                                        </div>
                                        <div class="swatch-holder bg-focus switch-sidebar-cs-class" data-class="bg-focus sidebar-text-light">
                                        </div>
                                        <div class="swatch-holder bg-alternate switch-sidebar-cs-class" data-class="bg-alternate sidebar-text-light">
                                        </div>
                                        <div class="divider">
                                        </div>
                                        <div class="swatch-holder bg-vicious-stance switch-sidebar-cs-class" data-class="bg-vicious-stance sidebar-text-light">
                                        </div>
                                        <div class="swatch-holder bg-midnight-bloom switch-sidebar-cs-class" data-class="bg-midnight-bloom sidebar-text-light">
                                        </div>
                                        <div class="swatch-holder bg-night-sky switch-sidebar-cs-class" data-class="bg-night-sky sidebar-text-light">
                                        </div>
                                        <div class="swatch-holder bg-slick-carbon switch-sidebar-cs-class" data-class="bg-slick-carbon sidebar-text-light">
                                        </div>
                                        <div class="swatch-holder bg-asteroid switch-sidebar-cs-class" data-class="bg-asteroid sidebar-text-light">
                                        </div>
                                        <div class="swatch-holder bg-royal switch-sidebar-cs-class" data-class="bg-royal sidebar-text-light">
                                        </div>
                                        <div class="swatch-holder bg-warm-flame switch-sidebar-cs-class" data-class="bg-warm-flame sidebar-text-dark">
                                        </div>
                                        <div class="swatch-holder bg-night-fade switch-sidebar-cs-class" data-class="bg-night-fade sidebar-text-dark">
                                        </div>
                                        <div class="swatch-holder bg-sunny-morning switch-sidebar-cs-class" data-class="bg-sunny-morning sidebar-text-dark">
                                        </div>
                                        <div class="swatch-holder bg-tempting-azure switch-sidebar-cs-class" data-class="bg-tempting-azure sidebar-text-dark">
                                        </div>
                                        <div class="swatch-holder bg-amy-crisp switch-sidebar-cs-class" data-class="bg-amy-crisp sidebar-text-dark">
                                        </div>
                                        <div class="swatch-holder bg-heavy-rain switch-sidebar-cs-class" data-class="bg-heavy-rain sidebar-text-dark">
                                        </div>
                                        <div class="swatch-holder bg-mean-fruit switch-sidebar-cs-class" data-class="bg-mean-fruit sidebar-text-dark">
                                        </div>
                                        <div class="swatch-holder bg-malibu-beach switch-sidebar-cs-class" data-class="bg-malibu-beach sidebar-text-light">
                                        </div>
                                        <div class="swatch-holder bg-deep-blue switch-sidebar-cs-class" data-class="bg-deep-blue sidebar-text-dark">
                                        </div>
                                        <div class="swatch-holder bg-ripe-malin switch-sidebar-cs-class" data-class="bg-ripe-malin sidebar-text-light">
                                        </div>
                                        <div class="swatch-holder bg-arielle-smile switch-sidebar-cs-class" data-class="bg-arielle-smile sidebar-text-light">
                                        </div>
                                        <div class="swatch-holder bg-plum-plate switch-sidebar-cs-class" data-class="bg-plum-plate sidebar-text-light">
                                        </div>
                                        <div class="swatch-holder bg-happy-fisher switch-sidebar-cs-class" data-class="bg-happy-fisher sidebar-text-dark">
                                        </div>
                                        <div class="swatch-holder bg-happy-itmeo switch-sidebar-cs-class" data-class="bg-happy-itmeo sidebar-text-light">
                                        </div>
                                        <div class="swatch-holder bg-mixed-hopes switch-sidebar-cs-class" data-class="bg-mixed-hopes sidebar-text-light">
                                        </div>
                                        <div class="swatch-holder bg-strong-bliss switch-sidebar-cs-class" data-class="bg-strong-bliss sidebar-text-light">
                                        </div>
                                        <div class="swatch-holder bg-grow-early switch-sidebar-cs-class" data-class="bg-grow-early sidebar-text-light">
                                        </div>
                                        <div class="swatch-holder bg-love-kiss switch-sidebar-cs-class" data-class="bg-love-kiss sidebar-text-light">
                                        </div>
                                        <div class="swatch-holder bg-premium-dark switch-sidebar-cs-class" data-class="bg-premium-dark sidebar-text-light">
                                        </div>
                                        <div class="swatch-holder bg-happy-green switch-sidebar-cs-class" data-class="bg-happy-green sidebar-text-light">
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <h3 class="themeoptions-heading">
                            <div>Main Content Options</div>
                            <button type="button" class="btn-pill btn-shadow btn-wide ml-auto active btn btn-focus btn-sm">Restore Default
                            </button>
                        </h3>
                        <div class="p-3">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <h5 class="pb-2">Page Section Tabs
                                    </h5>
                                    <div class="theme-settings-swatches">
                                        <div role="group" class="mt-2 btn-group">
                                            <button type="button" class="btn-wide btn-shadow btn-primary btn btn-secondary switch-theme-class" data-class="body-tabs-line">
                                                Line
                                            </button>
                                            <button type="button" class="btn-wide btn-shadow btn-primary active btn btn-secondary switch-theme-class" data-class="body-tabs-shadow">
                                                Shadow
                                            </button>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>        

        <div class="app-main">
                <div class="app-sidebar sidebar-shadow">
                    <div class="app-header__logo">
                        <div class="logo-src">
                        </div>
                        <div class="header__pane ml-auto">
                            <div>
                                <button type="button" class="hamburger close-sidebar-btn hamburger--elastic" data-class="closed-sidebar">
                                    <span class="hamburger-box">
                                        <span class="hamburger-inner"></span>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="app-header__mobile-menu">
                        <div>
                            <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
                                <span class="hamburger-box">
                                    <span class="hamburger-inner"></span>
                                </span>
                            </button>
                        </div>
                    </div>
                    <div class="app-header__menu">
                        <span>
                            <button type="button" class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
                                <span class="btn-icon-wrapper">
                                    <i class="fa fa-ellipsis-v fa-w-6"></i>
                                </span>
                            </button>
                        </span>
                       
                    </div>    <div class="scrollbar-sidebar">
                        <div class="app-sidebar__inner">
                            <ul class="vertical-nav-menu">
                                <li class="app-sidebar__heading">DKA.UZ</li>
                                <li>
                                    <a href="/userdashboar">
                                        <i class="metismenu-icon pe-7s-rocket"></i>
                                        Kurs
                                    </a>
                                </li>
                                <li>
                                    <a href="/">
                                        <i class="metismenu-icon pe-7s-rocket"></i>
                                      Bosh Sahifa                                  </a>
                                </li>
                                <li>
                                    <a href="/library">
                                        <i class="metismenu-icon pe-7s-rocket"></i>
                                     Onlayn Kutubxona
                                    </a>
                                </li>
                              
                                <li class="app-sidebar__heading">Kurs</li>
                                <li
                                     class="mm-active"   >
                                    <a href="#">
                                        <i class="metismenu-icon pe-7s-diamond"></i>
                                       Barcha Modullar
                                        <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                                    </a>
                                    <ul
                                         class="mm-show">
                                        <li>
                                            <a href="/module-1" >
                                                <i class="metismenu-icon"></i>
                                                Modul 1
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/module-2">
                                                <i class="metismenu-icon">
                                                </i>     Modul 2
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/module-3">
                                                <i class="metismenu-icon">
                                                </i>             Modul 3
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/module-4">
                                                <i class="metismenu-icon">
                                                </i>                     Modul 4
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/module-5">
                                                <i class="metismenu-icon">
                                                </i>                      Modul 5
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/module-6">
                                                <i class="metismenu-icon">
                                                </i>                              Modul 6
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/module-7">
                                                <i class="metismenu-icon">
                                                </i>                                      Modul 7
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/module-8">
                                                <i class="metismenu-icon">
                                                </i>                                              Modul 8
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/module-9">
                                                <i class="metismenu-icon">
                                                </i>                                               Modul 9
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/module-10" class="mm-active">
                                                <i class="metismenu-icon">
                                                </i>                                               Modul 10
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/module-11" >
                                                <i class="metismenu-icon">
                                                </i>                                               Modul 11
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/module-12">
                                                <i class="metismenu-icon">
                                                </i>                                               Modul 12
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="/otziv">
                                        <i class="metismenu-icon pe-7s-display2"></i>
                                        Fikr
                                    </a>
                                </li>
                                <li class="app-sidebar__heading">Shaxsiy Malumotlar
                                </li>
                                <li>
                                    <a href="/polzovatel">
                                        <i class="metismenu-icon pe-7s-display2"></i>
                                        Foydalanuvchi
                                    </a>
                                </li>
                                <li class="app-sidebar__heading">Natijalar Oynasi
                                </li>
                                <li>
                                    <a href="/result">
                                        <i class="metismenu-icon pe-7s-mouse">
                                        </i>Mening Natijalarim

                                    </a>
                                </li>
                                <li>
                                    <a href="/obnavitparol">
                                        <i class="metismenu-icon pe-7s-eyedropper">
                                        </i>Parolni Yangilash
                                    </a>
                                </li>
                                <li class="app-sidebar__heading">Sertifikat</li>
                                <li>
                                    <a href="/certificate">
                                        <i class="metismenu-icon pe-7s-graph2">
                                        </i>Sertifikat Olish
                                    </a>
                                </li>
                                <li>
                                    <a href="/exit" >
                                        <i class="metismenu-icon pe-7s-display2"></i>
                                   Chiqish
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>   
                 <div class="app-main__outer">
                    <div class="app-main__inner">
                        <div class="app-page-title">
                            <div class="page-title-wrapper">
                                <div class="page-title-heading">
                                    <div class="page-title-icon">
                                        <i class="pe-7s-plane icon-gradient bg-tempting-azure">
                                        </i>
                                    </div>
                                    <div>Modul 10 (II qism)
                                        <div class="page-title-subheading"> 3-BOB. Hududlarning davlat kadastrini yuritish tartibi (II qism)

                                        </div>
                                    </div>
                                </div>
                                <div class="page-title-actions">
                                    <button type="button" data-toggle="tooltip" title="Example Tooltip" data-placement="bottom" class="btn-shadow mr-3 btn btn-dark">
                                        <i class="fa fa-star"></i>
                                    </button>
                                    <div class="d-inline-block dropdown">
                                        <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn-shadow dropdown-toggle btn btn-info">
                                            <span class="btn-icon-wrapper pr-2 opacity-7">
                                                <i class="fa fa-business-time fa-w-20"></i>
                                            </span>
                                            Buttons
                                        </button>
                                        <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu dropdown-menu-right">
                                            <ul class="nav flex-column">
                                                <li class="nav-item">
                                                    <a href="javascript:void(0);" class="nav-link">
                                                        <i class="nav-link-icon lnr-inbox"></i>
                                                        <span>
                                                            Inbox
                                                        </span>
                                                        <div class="ml-auto badge badge-pill badge-secondary">86</div>
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="javascript:void(0);" class="nav-link">
                                                        <i class="nav-link-icon lnr-book"></i>
                                                        <span>
                                                            Book
                                                        </span>
                                                        <div class="ml-auto badge badge-pill badge-danger">5</div>
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="javascript:void(0);" class="nav-link">
                                                        <i class="nav-link-icon lnr-picture"></i>
                                                        <span>
                                                            Picture
                                                        </span>
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a disabled href="javascript:void(0);" class="nav-link disabled">
                                                        <i class="nav-link-icon lnr-file-empty"></i>
                                                        <span>
                                                            File Disabled
                                                        </span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div> 
                               </div>
                               <div id="salom"> 
                                <h1><a id="_Toc99041576"></a>3-BOB. Hududlarning davlat kadastrini yuritish tartibi</h1><h2><a id="_Toc99041577"></a>3.1. Hududlarning davlat kadastrini yuritish maqsadlari va vazifalari</h2><p>O‘zbekiston Respublikasining ma’muriy-hududiy birliklari: <em>Qoraqalpog‘iston Respublikasi, viloyatlar va Toshkent shahri, tumanlar (shaharlar) ularga nisbatan hududlarning davlat kadastri yuritiladigan hududlar hisoblanadi.</em></p><p>Ayrim hollarda ularga nisbatan hududlarning davlat kadastri yuritiladigan hududlar iqtisodiy mintaqa yoki erkin iqtisodiy zona va boshqalar bo‘lishi mumkin.</p><p>DKYTga kiruvchi barcha davlat kadastrlarining obyektlari, muayyan hududda joylashgan sanoat, transport, sog‘liqni saqlash, ta’lim, madaniyat, ijtimoiy soha, ma’muriy va boshqa ahamiyatga ega bo‘lgan obyektlar, shuningdek ushbu obyektlar to‘g‘risidagi geofazoviy, statistik va boshqa zarur ma’lumotlar hamda ular joylashgan hududlar hududlarning davlat kadastri obyektlari hisoblanadi.</p><p>Hududlarning davlat kadastrini tuzish va yuritish ishlari O‘zbekiston Respublikasi davlat budjeti mablag‘lari va qonun hujjatlari bilan taqiqlanmagan boshqa manbalar hisobidan moliyalashtiriladi.</p><p>Hududlarning davlat kadastri hududlarning tabiiy-resurs va xo‘jalik salohiyati, ijtimoiy-iqtisodiy rivojlanishi va ekologik holatini hisobga olish hamda baholash maqsadlarida tuziladi va yuritiladi.</p><p>Hududlarning davlat kadastri davlat hokimiyati va boshqaruvi organlarini, mahalliy davlat hokimiyati organlarini, manfaatdor yuridik va jismoniy shaxslarni hududiy rejalashtirish va hududlarni boshqarish sohasida qarorlar qabul qilish uchun zarur bo‘lgan, hududlarning tabiiy-resurs va xo‘jalik salohiyati, ijtimoiy-iqtisodiy rivojlanishi va ekologik holati to‘g‘risidagi kompleks, aniq axborot bilan ta’minlash uchun mo‘ljallangan.</p><p><strong><em>Hududlarning davlat kadastrini yuritish quyidagi tamoyillar asosida amalga oshiriladi:</em></strong></p><ul><li>barcha darajalarda hududlarning davlat kadastrini yuritish metodologiyasining yagonaligi;</li><li>hududlar davlat kadastri yuritiladigan hududlarga nisbatan hududlarning tabiiy-resurs va xo‘jalik salohiyati, ijtimoiy-iqtisodiy rivojlanishi va ekologik holatini to‘liq qamrab olish;</li><li>fazoviy koordinatalarning yagona tizimini va yagona kartografik asoslarini qo‘llash;</li><li>barcha obyektlar bo‘yicha geofazoviy ma’lumotlarni shakllantirish metodologiyasining yagonaligi;</li><li>hududlar davlat kadastri axborot resurslarining dolzarbligi, to‘g‘riligi, to‘liqligi, butligi, aniqligi, ravshanligi va hujjatlarga asoslanganligi;</li><li>hududlar davlat kadastri axborotining ochiqligi va undan hamma foydalanishi mumkinligi, uni olish, tarqatish va saqlashning qonuniyligi;</li><li>yer kadastri va boshqa davlat kadastrlarining axborot tizimlari hamda davlat axborot resurslarini tashkil qiluvchi reestrlar bilan o‘zaro bog‘langanligi;</li><li>hududlar davlat kadastrining axborot resurslarini tuzish, yangilash, qayta ishlash, saqlash, taqdim qilish va ulardan foydalanishni ta’minlaydigan hududlar davlat kadastrining bazaviy subyektlari faoliyatini muvofiqlashtirish;</li><li>hududlarning davlat kadastrini tuzish va yuritish ishlarini davlat yer kadastri, DKYT va Milliy geoaxborot tizimini tashkil etish va yuritish ishlari bilan muvofiqlashtirish.</li></ul><p><strong><em>Hududlar davlat kadastri ma’lumotlarining kompleksligi, to‘liqligi va to‘g‘riligi:</em></strong></p><ul><li>hududiy rivojlanishni rejalashtirish va hududlarni boshqarish;</li><li>aholi hayot faoliyatining xavfsiz muhitini shakllantirish;</li><li>hududlarni tabiiy va texnogen tusdagi favqulodda vaziyatlardan muhofaza qilish;</li><li>hududlarda aholini, ishlab chiqarish obyektlarini va ishlab chiqarish kuchlarini bir xilda taqsimlash;</li><li>atrof tabiiy muhitning ifloslanish darajasini pasaytirish;</li><li>sanoat obyektlari va boshqa obyektlarning muhandislik-transport infratuzilmasi samarali va ishonchli faoliyat ko‘rsatishi;</li><li>hududlarni barqaror rivojlantirish maqsadida tabiiy resurslarni va alohida maqomga ega hududlarni, shu jumladan muhofaza qilinadigan tabiiy hududlarni, tarixiy obyektlarni, madaniy meros obyektlarini, qishloq xo‘jaligiga mo‘ljallangan yerlarni, suv resurslarini va o‘rmonlarni muhofaza qilish hamda ulardan oqilona foydalanish;</li><li>hududlarni rivojlantirish va boshqarishning boshqa masalalari bo‘yicha boshqaruv qarorlari qabul qilinishini ta’minlashi kerak.</li></ul><h2><a id="_Toc99041578"></a>3.2. Hududlarning davlat kadastri tuzilmasi hamda uni tuzishni tashkil etish va yuritish</h2><p><strong><em>Hududlarning davlat kadastri tizimi quyidagilarni o‘z ichiga oladi:</em></strong></p><p>1) tashkiliy tuzilma;</p><p>2) texnik va dasturiy vositalar;</p><p>3) axborot resurslari;</p><p>4) metama’lumotlar bazalari;</p><p>5) geofazoviy ma’lumotlar servislari;</p><p>6) normativ-huquqiy hujjatlar, texnik reglamentlar va standartlar.</p><p><strong><em>Hududlar davlat kadastrining tashkiliy tuzilmasini quyidagilar tashkil qiladi:</em></strong></p><ul><li>O‘zbekiston Respublikasi Iqtisodiyot vazirligi, mahalliy davlat hokimiyati organlari;</li><li>Geodeziya va kartografiya milliy markazi, Qoraqalpog‘iston Respublikasi, viloyatlar va Toshkent shahri, tumanlar (shaharlar) yer tuzish va ko‘chmas mulk kadastri davlat korxonalari;</li><li>hududlar davlat kadastri tizimida ro‘yxatdan o‘tkazilishi va hisobga olinishi lozim bo‘lgan axborot resurslarini tuzish, yangilash, qayta ishlash, saqlash, taqdim etish va ulardan foydalanishni amalga oshiradigan davlat va xo‘jalik boshqaruvi organlari, mulkchilikning barcha shakllaridagi xo‘jalik yurituvchi subyektlar.</li></ul><p>Hududlar davlat kadastri umumdavlat Qoraqalpog‘iston Respublikasi, viloyatlar va Toshkent shahri, tumanlar (shaharlar) darajasida yuritiladi.</p><p><strong><em>Hududlarning davlat kadastrini tuzish va yuritish Soliq qoʻmitasi huzuridagi Kadastr agentligi tarkibiga kiruvchi korxonalar:</em></strong></p><ul><li>respublika darajasida - Geodeziya va kartografiya milliy markazi;</li><li>mintaqa, tuman va shahar darajalarida - tegishli hududiy yer tuzish va ko‘chmas mulk kadastri davlat korxonalari tomonidan amalga oshiriladi.</li></ul><p>Hududlar davlat kadastrining tashkiliy tuzilmasiga o‘z vakolatlari doirasida hududlar davlat kadastri tizimi uchun axborot resurslarini taqdim etish uchun mas’ul bo‘lgan quyidagi bazaviy subyektlar kiradi:</p><p><strong><em>1.O‘zbekiston Respublikasi Suv xo‘jaligi vazirligi - quyidagi ma’lumotlar uchun: </em></strong></p><ul><li>irrigatsiya tizimlari va inshootlari joylashishi va holati to‘g‘risidagi ma’lumotlar uchun; </li><li>gidrotexnika inshootlari davlat kadastri ma’lumotlari kapitalligi III klassdan past gidrotexnika inshootlari bo‘yicha - inshootlarning mansubligiga qarab; </li><li>O‘zbekiston Respublikasi O‘rmon xo‘jaligi davlat qo‘mitasi - davlat o‘rmon kadastri ma’lumotlari uchun. </li></ul><p><strong><em>2.O‘zbekiston Respublikasi Ichki ishlar vazirligi - quyidagi ma’lumotlar uchun:</em></strong></p><ul><li>texnogen xavf yuqori bo‘lgan zonalar davlat kadastri (portlash xavfi va yong‘in xavfi yuqori bo‘lgan zonalar (obyektlar) - bo‘lim) ma’lumotlari;</li><li>ichki ishlar organlarining hududiy bosh boshqarmalari, boshqarmalari va bo‘limlari, tayanch punktlari, yo‘l-patrul xizmati, yong‘in xavfsizligi xizmati postlarining va ichki ishlar organlari blok-postlarining joylashishi va ulanish ma’lumotlari to‘g‘risidagi ma’lumotlar uchun;</li></ul><p><strong><em>3.O‘zbekiston Respublikasi Favqulodda vaziyatlar vazirligi:</em></strong></p><ul><li>joydagi obyektlarning o‘zgarishiga sabab bo‘lgan tabiiy va texnogen tusdagi favqulodda vaziyatlar to‘g‘risidagi axborot uchun;</li><li>texnogen xavf yuqori bo‘lgan zonalar davlat kadastri ma’lumotlari uchun;</li></ul><p><strong><em>4.O‘zbekiston Respublikasi Madaniyat vazirligi - moddiy madaniy meros obyektlari davlat kadastri ma’lumotlari va ushbu obyektlarga xizmat ko‘rsatuvchi muassasalarning ulanish ma’lumotlari uchun;</em></strong></p><p><strong><em>5.O‘zbekiston Respublikasi Sog‘liqni saqlash vazirligi - quyidagi ma’lumotlar uchun:</em></strong></p><ul><li>texnogen xavf yuqori bo‘lgan zonalar kadastri ma’lumotlari uchun;</li><li>sog‘liqni saqlash muassasalari: kasalxonalar, klinikalar, poliklinikalar, feldsherlik hamda jarohatlanish punktlari, dispanserlar, dorixonalar va boshqalarning joylashishi hamda ulanish ma’lumotlari to‘g‘risidagi ma’lumotlar uchun;</li></ul><p><strong><em>6.O‘zbekiston Respublikasi Xalq ta’limi vazirligi - maktabgacha hamda umumiy o‘rta ta’lim muassasalarining joylashishi va ulanish ma’lumotlari to‘g‘risidagi ma’lumotlar uchun;</em></strong></p><p><strong><em>7.O‘zbekiston Respublikasi Oliy va o‘rta maxsus ta’lim vazirligi, tasarrufida oliy ta’lim muassasalari bo‘lgan vazirliklar va idoralar - idoraviy mansub oliy ta’lim muassasalarining joylashishi va ulanish ma’lumotlari to‘g‘risidagi ma’lumotlar uchun;</em></strong></p><p><strong><em>O‘zbekiston Respublikasi Oliy va o‘rta maxsus ta’lim vazirligining O‘rta maxsus kasb-hunar ta’limi markazi - o‘rta maxsus, kasb-hunar ta’limi muassasalarining joylashishi va ulanish ma’lumotlari to‘g‘risidagi ma’lumotlar uchun.</em></strong></p><p><strong><em>8.O‘zbekiston Respublikasi Axborot texnologiyalari va kommunikatsiyalarini rivojlantirish vazirligi - aloqa obyektlari davlat kadastri ma’lumotlari uchun;</em></strong></p><p><strong><em>9.O‘zbekiston Respublikasi Davlat geologiya va mineral resurslar qo‘mitasi - quyidagi ma’lumotlar uchun:</em></strong></p><ul><li>konlar, foydali qazilmalar va texnogen hosilalarning yuzaga chiqish hollari davlat kadastri ma’lumotlari uchun;</li><li>tabiiy xavf yuqori bo‘lgan zonalar davlat kadastri ma’lumotlari uchun;</li></ul><p><strong><em>10.O‘zbekiston Respublikasi Qurilish vazirligi - quyidagi ma’lumotlar uchun:</em></strong></p><ul><li>davlat shaharsozlik kadastri ma’lumotlari;</li><li>qurilayotgan binolar va inshootlar to‘g‘risidagi ma’lumotlar uchun;</li></ul><p><strong><em>11.O‘zbekiston Respublikasi Ekologiya va atrof muhitni muhofaza qilish davlat qo‘mitasi - quyidagi ma’lumotlar uchun:</em></strong></p><ul><li>hayvonot dunyosi davlat kadastri ma’lumotlari;</li><li>o‘simlik dunyosi obyektlari davlat kadastri ma’lumotlari uchun;</li><li>chiqindilarni ko‘mish va utilizatsiya qilish joylari davlat kadastri ma’lumotlari;</li><li>muhofaza qilinadigan tabiiy hududlar davlat kadastri ma’lumotlari uchun;</li></ul><p><strong><em>12.O‘zbekiston Respublikasi Davlat statistika qo‘mitasi - aholi soni to‘g‘risidagi statistik ma’lumotlar, shuningdek O‘zbekiston Respublikasi Vazirlar Mahkamasi tomonidan tasdiqlanadigan Davlat statistika ishlari dasturi doirasida shakllanadigan tumanlar (shaharlar) bo‘yicha alohida yillik statistik ko‘rsatkichlar uchun;</em></strong></p><p><strong><em>13.Soliq qoʻmitasi huzuridagi Kadastr agentligi - quyidagi ma’lumotlar uchun:</em></strong></p><ul><li>davlat yer kadastri ma’lumotlari;</li><li>binolar va inshootlar davlat kadastri ma’lumotlari uchun;</li><li>kartografiya-geodeziya davlat kadastri ma’lumotlari;</li></ul><p><strong><em>14.O‘zbekiston Respublikasi Favqulodda vaziyatlar vazirligi huzuridagi Gidrometeorologiya xizmati markazi - quyidagi ma’lumotlar uchun:</em></strong></p><ul><li>davlat suv kadastri ma’lumotlari;</li><li>tabiiy xavf yuqori bo‘lgan zonalar davlat kadastri kadastri ma’lumotlari uchun;</li></ul><p><strong><em>15.O‘zbekiston Respublikasi Fanlar akademiyasi - quyidagi ma’lumotlar uchun:</em></strong></p><ul><li>tabiiy xavf yuqori bo‘lgan zonalar davlat kadastri ma’lumotlari;</li><li>texnogen xavf yuqori bo‘lgan zonalar davlat kadastri ma’lumotlari uchun;</li></ul><p><strong><em>16.O‘zbekiston Respublikasi «Sanoatgeokontexnazorat» davlat inspeksiyasi - texnogen xavf yuqori bo‘lgan zonalar davlat kadastri ma’lumotlari va texnogen xavf yuqori bo‘lgan obyektlardan foydalanuvchi tashkilotlarning ulanish ma’lumotlari uchun;</em></strong></p><p><strong><em>17.O‘zbekiston Respublikasi Suv xo‘jaligi vazirligi huzuridagi «Davsuvxo‘jaliknazorat» davlat inspeksiyasi - gidrotexnika inshoootlari davlat kadastri ma’lumotlari uchun;</em></strong></p><p><strong><em>18.«O‘zbekiston temir yo‘llari» davlat aksiyadorlik kompaniyasi - temir yo‘llar davlat kadastri ma’lumotlari uchun;</em></strong></p><p><strong><em>19.O‘zbekiston Respublikasi Avtomobil yo‘llari davlat qo‘mitasi - avtomobil yo‘llari davlat kadastri ma’lumotlari uchun;</em></strong></p><p><strong><em>20.«O‘zbekenergo» davlat aksiyadorlik kompaniyasi - quyidagi ma’lumotlar uchun:</em></strong></p><ul><li>energetika obyektlari davlat kadastri ma’lumotlari;</li><li>gidrotexnika inshootlari davlat kadastri (kapitalligi III klassdan past gidrotexnika inshootlari bo‘yicha - inshootlarning mansubligi bo‘yicha) ma’lumotlari uchun;</li></ul><p><strong><em>21.«O‘zbekneftgaz» milliy xolding kompaniyasi - yetkazib berish quvurlari davlat kadastri ma’lumotlari uchun.</em></strong></p><p>Geofazoviy ma’lumotlar koordinatalarning davlat va mahalliy tizimlarida, obyektlarning hisobga olinishi lozim bo‘lgan kodlarini, shuningdek hududlar davlat kadastri geoaxborot tizimi ma’lumotlar bazasida geofazoviy obyektlarni raqamli ta’riflash qoidalarini belgilagan holda obyektlarning klasslari va xususiyatlari ro‘yxatini (tasnifini) belgilovchi hududlarning davlat kadastrini tasniflash va kodlashning yagona tizimiga muvofiq raqamli shaklda tuziladi.</p><p>Hududlar davlat kadastri axborot tizimining texnik va dasturiy vositalariga hududlarning davlat kadastri axborot resurslari ro‘yxatdan o‘tkazilishi, hisobga olinishi, saqlanishi, dolzarblashtirilishi va foydalanuvchilarga taqdim etilishini ta’minlaydigan umumdavlat, mintaqaviy, tumanlar va shaharlar geoportallari hamda geoaxborot tizimlari tarmog‘i kiradi.</p><p>Hududlar davlat kadastri tizimining axborot resurslari “Hududlarning davlat kadastrini yuritish tartibi to‘g‘risida”gi Nizomning 29-32-bandlarida keltirilgan ma’lumotlarning umumlashtirilgan tarkibi va ularga kiritish uchun asoslar hududlar davlat kadastrining umumdavlat, mintaqaviy, tuman va shahar darajalaridagi axborot resurslaridan iborat bo‘ladi.</p><p>Hududlar davlat kadastri axborot resurslarining tuzilmasi va batafsil mazmuni Soliq qoʻmitasi huzuridagi Kadastr agentligi tomonidan o‘z vakolatlari doirasida hududlarning davlat kadastri tizimi uchun axborot resurslari taqdim etilishi uchun mas’ul bo‘lgan vazirliklar va idoralar bilan kelishgan holda belgilanadi.</p><p>Hududlarning davlat kadastri metama’lumotlari axborot resurslari, shu jumladan hududning tarkibi, tuzilmasi, sifati, ayrim qismlari, geofazoviy ma’lumotlardan foydalanish shartlari va ularni tuzuvchilar to‘g‘risidagi ma’lumotnoma axborotni o‘z ichiga oladi. Kadastr hujjatlari va geofazoviy ma’lumotlarning turiga qarab, metama’lumotlar boshqa ma’lumotnoma axborotni o‘z ichiga olishi mumkin.</p><p>Metama’lumotlarning tartibga solingan to‘plamlarini o‘z ichiga oluvchi metama’lumotlar bazalari tegishli hududiy yer tuzish va ko‘chmas mulk kadastri davlat korxonalari tomonidan tuziladi hamda geofazoviy ma’lumotlar va axborot tizimlari servislarini qidirish, sifatini baholash, ulardan foydalanish shartlarini ta’minlash uchun geoportallar tarmog‘ida joylashtiriladi.</p><p><strong><em>Hududlar davlat kadastri tizimida quyidagi axborot tizimlari servislariga ega bo‘lgan geoportallar tarmog‘i yaratiladi va unga xizmat ko‘rsatiladi:</em></strong></p><p>1) axborot tarmoqlarida geofazoviy ma’lumotlar to‘plamlari va servislarini aniqlashni ta’minlaydigan qidirish servislari;</p><p>2) geofazoviy ma’lumotlar to‘plamlarini, geofazoviy obyektlarning tavsiflari to‘g‘risidagi axborotni va metama’lumotlar tarkibini ko‘rib chiqish servislari;</p><p>3) kadastr ma’lumotlariga bevosita kirishni yoki ulardan nusxalar olishni ta’minlaydigan kirish servislari;</p><p>4) geofazoviy ma’lumotlar koordinatalarini bir koordinatalar tizimidan yoki kartografik proeksiyadan boshqasiga almashtirishni ta’minlaydigan almashtirish servislari.</p><p><strong><em>Metodik, lingvistik, texnik va dasturiy vositalar hududlarning davlat kadastrini tuzish va yuritish jarayonida quyidagi asosiy operatsiyalarning avtomatlashtirilgan tarzda bajarilishini ta’minlashi lozim:</em></strong></p><ul><li>elektron hujjat aylanishi va kadastr ma’lumotlari almashuvining birxillashtirilgan tizimidan foydalangan holda boshqa kadastrlar va axborot tizimlari bilan hujjatlashtirilgan ma’lumotlar almashuvi;</li><li>hududlarning davlat kadastri axborot tizimida saqlanayotgan ma’lumotlardan rezerv nusxa ko‘chirish va ularni himoya qilish;</li><li>yangi hujjatlar va ma’lumotlarni ro‘yxatdan o‘tkazish va hisobga olish, shuningdek belgilangan tartibda haqiqiy emas deb topilgan hujjatlar va ma’lumotlarning saqlanishini arxiv rejimiga o‘tkazish yo‘li bilan axborot resurslarini dolzarblashtirish;</li><li>geofazoviy ma’lumotlar bazasini kiritish, tahrir qilish va soz holda saqlash, hududlar davlat kadastri raqamli kartalarini shakllantirish, chiqarish va ulardan foydalanish;</li><li>axborotni obyektning manzili yoki ro‘yxatdan o‘tkazish (identifikatsiya) raqami, yer uchastkasining koordinatalari yoki kadastr raqami, hujjatning nomi va rekvizitlari bo‘yicha qidirish;</li><li>tahliliy hisobotlar tuzish, chiqish hujjatlarini bosma va/yoki elektron shaklda shakllantirish va chiqarish;</li><li>hududlarning davlat kadastri axborot resurslaridan foydalangan holda kiritilgan yoki shakllantirilgan va kiritilgan kirish/chiqish hujjatlari reestrini bosma yoki elektron shaklda yuritish.</li></ul><p>Soliq qoʻmitasi huzuridagi Kadastr agentligi tomonidan vakolatli vazirliklar va idoralar bilan birgalikda kadastr hisobi va kadastr ma’lumotlari almashuvi, hududlar davlat kadastrini tuzish va rivojlantirish uchun birxillashtirilgan elektron hujjatlar aylanishi tizimining axborot resurslarini tashkil etish bo‘yicha normativ-huquqiy hujjatlar, texnik reglamentlar va standartlar ishlab chiqiladi.</p><h2><a id="_Toc99041579"></a>3.3. Hududlarning davlat kadastrini tuzish hamda yuritish tartibi </h2><p><strong><em>Hududlarning davlat kadastrini tuzish quyidagi asosiy masalalarning hal etilishini o‘z ichiga oladi:</em></strong></p><ul><li>hududlarning davlat kadastrini tuzish konsepsiyasini va maqsadli davlat dasturini ishlab chiqish;</li><li>normativ-huquqiy va metodik bazani ishlab chiqish;</li><li>hududlar davlat kadastri tizimining barcha bazaviy subyektlari faoliyat yuritishini va o‘zaro hamkorlikda ishlashini tashkil qilish;</li><li>dasturiy-texnik komplekslarni ishlab chiqish (tanlash);</li><li>hududlarning davlat kadastrini yuritishning barcha darajalarida ularning axborot resurslarini shakllantirish va ma’lumotlar bazalarini tashkil etish (to‘ldirish) bo‘yicha ishlarni tashkil qilish;</li><li>bazaviy subyektlar bilan hududlar davlat kadastri foydalanuvchilariga axborot taqdim etish tizimi o‘rtasida axborotlar almashuvining axborot-kommunikatsiya tizimini shakllantirish;</li><li>hududlar davlat kadastri axborot tizimidan foydalanuvchilarni va tizimga xizmat ko‘rsatuvchi mutaxassislarni o‘qitish yo‘li bilan hududlar davlat kadastri axborot tizimining faoliyat yuritishini kadrlar bilan ta’minlash.</li></ul><p>Hududlarning davlat kadastrini tuzish ikkita asosiy bosqichda amalga oshiriladi.</p><p><strong><em>Birinchi bosqich:</em></strong></p><ul><li>hududlar davlat kadastrini tuzish konsepsiyasini va maqsadli davlat dasturini ishlab chiqish hamda belgilangan tartibda tasdiqlash;</li><li>hududlar davlat kadastri axborot tizimining ma’lumotlar bazasiga bazaviy axborot tariqasida kiritilishi nazarda tutiladigan materiallar va ma’lumotlarni uni yuritishning tegishli darajalarida to‘plash, tizimlashtirish va tahlil qilish ishlari;</li><li>hududlarning davlat kadastri axborot tizimi va geoportallarining texnik komplekslarini uni yuritishning barcha darajalarida xarid qilish va o‘rnatish;</li><li>hududlar davlat kadastri ma’lumotlarining kadastr hisobga olinishi va almashuvi uchun mo‘ljallangan birxillashtirilgan elektron hujjatlar aylanishi tizimini ishlab chiqish hamda joriy etish;</li><li>hududlar davlat kadastri geoaxborot tizimlari va geoportallarining dasturiy ta’minotini ishlab chiqish, zarur hollarda xarid qilish hamda o‘rnatish;</li><li>hududlarning davlat kadastri geoaxborot tizimlari va geoportallaridan tajriba tariqasida foydalanish;</li><li>Soliq qoʻmitasi huzuridagi Kadastr agentligi markaziy apparatining tegishli bo‘linmalari, Geodeziya va kartografiya milliy markazi, hududiy yer tuzish va ko‘chmas mulk kadastri davlat korxonalarining, hududlar davlat kadastrini tuzish va yuritish bo‘yicha boshqa bazaviy subyektlarning faoliyatini tashkil qilish.</li></ul><p><strong><em>Ikkinchi bosqich:</em></strong></p><ul><li>hududlar davlat kadastri bazaviy subyektlarining taqsimlangan ma’lumotlar bazalari o‘rtasida axborot almashuvining kommunikatsiya kanallarini o‘rnatish;</li><li>axborotni muhofaza qilishni va hududlarning davlat kadastri axborot resurslaridan foydalanish tizimini tashkil qilish;</li><li>hududlarning davlat kadastri geoaxborot tizimlari ma’lumotlar bazalariga ma’lumotlarni muntazam kiritib borish va dolzarblashtirish ishlarini uni yuritishning barcha darajalarida tashkil qilish;</li><li>foydalanuvchilarning so‘rovlari bo‘yicha kadastr hujjatlarini, ma’lumotnomalar va boshqa axborotni, shu jumladan interaktiv davlat xizmatlari shaklida shakllantirish va berish ishlarini tashkil qilish;</li><li>hududlarning davlat kadastri geoaxborot tizimlari va geoportallaridan sanoat yo‘sinida foydalanish;</li><li>davlat hokimiyati va boshqaruvi organlarini, mahalliy davlat hokimiyati organlarini, manfaatdor yuridik va jismoniy shaxslarni hududlarning davlat kadastri axborotlari bilan muntazam (doimiy) ta’minlash.</li></ul><p><strong><em>Hududlarning davlat kadastrini yuritish tartibi</em></strong></p><p>Hududlarning davlat kadastrini yuritish Geodeziya va kartografiya milliy markazi, tegishli hududiy yer tuzish va ko‘chmas mulk kadastri davlat korxonalari tomonidan “Hududlarning davlat kadastrini yuritish tartibi to‘g‘risida”gi Nizomning 15-bandida ko‘rsatilgan hududiy davlat kadastrining bazaviy subyektlaridan olingan ma’lumotlar va hujjatlar, davlat hokimiyati va boshqaruvi, mahalliy davlat hokimiyati organlarining hududlarni ijtimoiy-iqtisodiy rivojlantirish masalalari bo‘yicha qarorlari olingan, tizimlashtirilgan, umumlashtirilgan va ro‘yxatdan o‘tkazilgandan keyin tegishli darajadagi hududlarning davlat kadastri axborot resurslarini shakllantirish va dolzarblashtirish yo‘li bilan amalga oshiriladi.</p><p><strong><em>Respublika darajasida hududlarning davlat kadastri tizimiga:</em></strong></p><ul><li>mamlakat hududining 1:200 000 masshtabdagi yagona raqamli kartografik asosi;</li><li>davlat chegarasi va ma’muriy-hududiy birliklarning chegaralari;</li><li>mamlakat hududining kadastr bo‘yicha bo‘linishi birliklari;</li><li>O‘zbekiston Respublikasi aholisini joylashtirishning bosh sxemasi;</li><li>O‘zbekiston Respublikasi hududini rejalashtirish sxemalari;</li><li>hududlardan foydalanish, mamlakat hududini ekologik, muhandislik-geologik, seysmik, gidrogeologik, tuproq, iqtisodiy, soliq va boshqalarga oid mintaqalarga bo‘lish bo‘yicha davlat kadastrlari va axborot tizimlarining axborot resurslari;</li><li>hududiy rejalashtirish, shaharsozlik, yer tuzish va boshqa sohadagi normativ-huquqiy hujjatlar to‘g‘risidagi ma’lumotlar kiritiladi.</li></ul><p><strong><em>Mintaqaviy darajada hududlarning davlat kadastri tizimiga:</em></strong></p><ul><li>Qoraqalpog‘iston Respublikasi va viloyatlar hududlarining 1:10 000 yoki 1:25 000 masshtabdagi yagona raqamli kartografik asosi;</li><li>davlat chegarasi va ma’muriy-hududiy birliklarning chegaralari;</li><li>Qoraqalpog‘iston Respublikasi va viloyatlar hududlarini kadastr bo‘yicha bo‘lish birliklarining chegaralari;</li><li>Qoraqalpog‘iston Respublikasi, viloyatlar hududlari va aholi punktlari chegaralaridan tashqaridagi mintaqaviy ahamiyatga molik bo‘lgan obyektlar hududlarining ayrim qismlarini rejalashtirish sxemalari;</li><li>hududlarni istiqbolli rivojlantirishning loyiha qarorlari va muhandislik, transport hamda ijtimoiy infratuzilmalarni rivojlantirish loyihalari;</li><li>hududlardan foydalanish, mintaqalar hududlarini ekologik, muhandislik-geologik, seysmik, gidrogeologik, tuproq, iqtisodiy, soliq va boshqalarga oid mintaqalarga bo‘lish bo‘yicha davlat kadastrlari va axborot tizimlarining axborot resurslari;</li><li>hududiy rejalashtirish, shaharsozlik, yer tuzish va boshqa sohadagi normativ-huquqiy hujjatlar to‘g‘risidagi ma’lumotlar kiritiladi.</li></ul><p><strong><em>Tuman darajasida hududlarning davlat kadastri tizimiga:</em></strong></p><ul><li>tuman hududining 1:5 000 yoki 1:10 000 masshtabdagi yagona raqamli kartografik asosi;</li><li>qishloq va posyolka fuqarolar yig‘inlari hamda mahallalarning ma’muriy-hududiy birliklari chegaralari;</li><li>tuman hududini kadastr bo‘yicha bo‘lish birliklarining chegaralari;</li><li>yer uchastkalarining chegaralari;</li><li>tuman hududini va aholi punktlari chegaralaridan tashqaridagi mintaqaviy ahamiyatga molik obyektlar bilan birgalikda hududlarning ayrim qismlarini rejalashtirish sxemalari;</li><li>hududlar davlat kadastri axborot tizimlari alohida tuzilmaydigan tuman bo‘ysunuvidagi shaharlar, posyolkalar, qishloq aholi punktlarining bosh rejalari, hududlarni zonalashtirish rejalari, ko‘rsatib o‘tilgan aholi punktlarining tarixiy-arxitektura rejalari to‘g‘risidagi ma’lumotlar, “Hududlarning davlat kadastrini yuritish tartibi to‘g‘risida”gi Nizomning 31-bandiga muvofiq mazkur aholi punktlari haqidagi boshqa ma’lumotlar;</li><li>hududlardan foydalanish, tuman hududini ekologik, muhandislik-geologik, seysmik, gidrogeologik, tuproq, iqtisodiy, soliq va boshqalarga oid mintaqalarga bo‘lish davlat kadastrlari hamda axborot tizimlarining axborot resurslari;</li><li>hududiy rejalashtirish, shaharsozlik, yer tuzish va boshqa sohadagi normativ-huquqiy hujjatlar to‘g‘risidagi ma’lumotlar kiritiladi.</li></ul><p><strong><em>Shahar darajasida hududlarning davlat kadastri tizimiga:</em></strong></p><ul><li>shaharning 1:2 000 masshtabdagi yagona raqamli kartografik asosi;</li><li>shahar, shahar tumanlari (mavjud bo‘lsa) va mahallalarning chegaralari;</li><li>shahar hududini kadastr bo‘yicha bo‘lish birliklarining chegaralari;</li><li>shaharning bosh rejasi, hududlarni zonalashtirish rejalari, tarixiy-arxitektura rejasi va shahar hududining batafsil rejalari;</li><li>iqtisodiy va soliqqa oid zonalashtirish chegaralari;</li><li>davlat yer kadastri ma’lumotlari asosida - yer uchastkalari, ularning kadastr raqamlari, chegaralari va ekin maydoni, mo‘ljallangan maqsad va funksional foydalanish, yerlarni yer uchastkalari egalari, foydalanuvchilar, ijaraga oluvchilar hamda yer uchastkalari mulkdorlari o‘rtasida taqsimlash, yer uchastkalaridan foydalanish bo‘yicha majburiyatlar;</li><li>binolar va inshootlar davlat kadastri, shaharsozlik davlat kadastri ma’lumotlari, xizmat ko‘rsatuvchi ta’mirlash tashkilotlari ma’lumotlari, infratuzilmaning qurilishi tugallangan obyektlarini muhandislik-geodezik ijroviy suratga olish natijalari va boshqa rasmiy manbalar asosida - muhandislik-transport infratuzilmasi;</li><li>binolar va inshootlar davlat kadastri, madaniy meros obyektlari davlat kadastri, shaharsozlik davlat kadastri ma’lumotlari va boshqa rasmiy manbalar asosida - binolar va inshootlar, ularning huquqiy rejimi, texnik holati, me’moriy va madaniy qimmati;</li><li>moddiy madaniy meros obyektlari davlat kadastri ma’lumotlari asosida - madaniy meros yodgorliklari;</li><li>Geografik obyektlarning nomlari davlat reestri ma’lumotlari, topografik chizmalar, boshqa rasmiy manbalar asosida - mahallalar, ko‘chalarning nomlari va joyning nom berilgan boshqa obyektlari;</li><li>topografik chizmalar, mahalliy davlat hokimiyati organlarining shahar hududidagi obyektlarning manzillarini belgilash yoki o‘zgartirish haqidagi qarorlari asosida - shahar hududidagi manzillar reestri;</li><li>belgilangan tartibda tasdiqlangan shaharsozlik dasturlari, infratuzilmani rivojlantirish, madaniy meros yodgorliklari va tabiiy obyektlarni muhofaza qilish, hududni ko‘kalamzorlashtirish, obodonlashtirish hamda muhofaza qilish sxemalari va loyihalari, davlat investitsiya dasturlari va loyihalari;</li><li>shaharsozlik davlat kadastri ma’lumotlari asosida - boshqa shaharsozlik hujjatlari, loyiha hujjatlari materiallari, qurilish uchun ruxsatnomalar, shaharsozlik reglamentlari, qurilishi tugallangan hamda foydalanish uchun qabul qilingan obyektlar va boshqa shaharsozlik hujjatlari;</li><li>qizil chiziqlar va qurilishlarni tartibga solish chiziqlari;</li><li>shaharsozlik davlat kadastri ma’lumotlari, tegishli shaharsozlik hujjatlari, ekologik, gidrometeorologik, radiologik, sanitariya-gigienaga oid hamda boshqa tadqiqotlar va qidiruvlar ma’lumotlari asosida - ayrim hududlar va yer uchastkalarining ekologik va muhandislik-geologik tavsiflari, ularda shaharsozlik reglamentlari va cheklovlarni inobatga olgan holda shaharsozlik faoliyatini amalga oshirish imkoniyati;</li><li>boshqa davlat kadastrlarining va axborot tizimlarining hududlardan foydalanish, shahar hududini ekologik, muhandislik-geologik, seysmik, gidrogeologik va boshqalarga oid mintaqalarga bo‘lish bo‘yicha axborot resurslari;</li><li>hududiy rejalashtirish, shaharsozlik, yer tuzish va boshqa sohadagi normativ-huquqiy hujjatlar to‘g‘risidagi ma’lumotlar kiritiladi.</li></ul><p>Hududlarning davlat kadastrini yuritish uchun zarur bo‘lgan ma’lumotlarning tarkibi, mazmuni, formatlari, taqdim etish davriyligi va tartibi Soliq qoʻmitasi huzuridagi Kadastr agentligi tomonidan hududlar davlat kadastrining bazaviy subyektlari bilan kelishgan holda belgilanadi.</p><p><strong><em>Geodeziya va kartografiya milliy markazi, hududiy yer tuzish va ko‘chmas mulk kadastri davlat korxonalari hududlar davlat kadastrini yuritishning tegishli darajalarida quyidagilarni amalga oshiradi:</em></strong></p><ul><li>hududlar davlat kadastrining bazaviy subyektlari bilan o‘zaro hamkorlik qilish va ulardan hududlar davlat kadastri axborot tizimining ma’lumotlar bazasida ro‘yxatdan o‘tkazilishi, hisobga olinishi hamda kiritilishi lozim bo‘lgan axborotni doimiy qabul qilib olish;</li><li>olingan ma’lumotlar va hujjatlarni dastlabki qayta ishlash, ularni nazorat qilish va tizimlashtirish hamda ularni hududlar davlat kadastri axborot tizimining ma’lumotlar bazasiga kiritish;</li><li>hududlarning davlat kadastri axborot tizimi hamda geoportallarining texnik va dasturiy vositalariga xizmat ko‘rsatish;</li><li>axborotni saqlash va arxivlashtirish tizimiga xizmat ko‘rsatish;</li><li>boshqa davlat kadastrlari, reestrlar va axborot tizimlari bilan axborot almashish;</li><li>qonun hujjatlariga muvofiq axborotni undan ruxsatsiz foydalanishdan muhofaza qilish tadbirlari;</li><li>qonun hujjatlariga muvofiq intellektual mulkni muhofaza qilish tadbirlari;</li><li>Soliq qoʻmitasi huzuridagi Kadastr agentligi tomonidan vakolatli vazirliklar va idoralar bilan kelishgan holda belgilangan tartibda kadastr hujjatlarini shakllantirish va uni manfaatdor foydalanuvchilarga berish;</li><li>hududdan, yerdan va boshqa tabiiy va xo‘jalik resurslaridan foydalanishning holati, ushbu hududda joylashgan turli obyektlarning holati va o‘zgarishlari to‘g‘risidagi axborotni umumlashtirish va tahliliy hisobotlar tuzish;</li><li>hududlarning davlat kadastri axborot resurslari to‘g‘risidagi metama’lumotlar bazasini tashkil etish va yuritish, hududlar davlat kadastrining ochiq axborot resurslarini shakllantirish hamda geoportallar tarmog‘ida ulardan foydalanish;</li><li>foydalanuvchilarning so‘rovlariga javoban hududlarning davlat kadastri axborot tizimi ma’lumotlar bazasining axborot resurslaridan ruxsat berilgan foydalanish chegaralaridagi kadastr ma’lumotnomalarini shakllantirish;</li><li>tegishli darajadagi hududlarning davlat kadastri axborot resurslarini tasarruf qiluvchi tomonidan tasdiqlangan ro‘yxatga muvofiq foydalanuvchilarning alohida toifalariga hududlar davlat kadastri axborot resurslaridan ruxsat berilgan holda to‘g‘ridan-to‘g‘ri foydalanishni ta’minlash tadbirlari;</li><li>hududlarning davlat kadastrini yuritish bo‘yicha normativ-huquqiy hujjatlar va metodik hujjatlarni ishlab chiqish hamda joriy etish;</li><li>“Hududlarning davlat kadastrini yuritish tartibi to‘g‘risida”gi Nizomga muvofiq hududlarning davlat kadastrini tuzish va yuritish sohasidagi boshqa faoliyat.</li></ul><h2><a id="_Toc99041580"></a>3.4. Hududlarning davlat kadastri axborotini foydalanuvchilarga berish tartibi</h2><p>Hududlarning davlat kadastrida saqlanadigan axborot ochiq hisoblanadi va undan hamma foydalanishi mumkin, tarkibida foydalanish cheklangan axborot bor bo‘lgan ma’lumotlar bundan mustasno.</p><p>Hududlarning davlat kadastrida saqlanadigan axborotni muhofaza qilish axborot munosabatlarining tegishli subyektlari tomonidan qonun hujjatlariga muvofiq amalga oshiriladi.</p><p>Hududlar davlat kadastrining davlat mulki yoki davlat yoxud tijorat siri hisoblangan axborotidan foydalanishga cheklovlar qonun hujjatlarida nazarda tutilgan tartibda belgilanadi.</p><p><strong><em>Hududlarning davlat kadastrida saqlanadigan va foydalanishga cheklovlar bo‘lmagan axborot:</em></strong></p><ul><li>davlat hokimiyati va boshqaruvi organlariga, mahalliy davlat hokimiyati organlariga, hududlar davlat kadastrining boshqa bazaviy subyektlariga hududlarning davlat kadastri axborot resurslaridan ruxsat berilgan holda to‘g‘ridan-to‘g‘ri foydalanish huquqini berish yo‘li bilan muntazam (doimiy) asosda;</li><li>manfaatdor yuridik va jismoniy shaxslarga so‘rov bo‘yicha besh kun ichida, shuningdek tegishli darajadagi hududlarning davlat kadastri axborot resurslarini tasarruf qiluvchi tomonidan tasdiqlangan foydalanuvchilarning alohida toifalari ro‘yxatiga muvofiq hududlar davlat kadastri axborot resurslaridan ruxsat berilgan holda to‘g‘ridan-to‘g‘ri foydalanish yo‘li bilan beriladi;</li><li>davlat hokimiyati va boshqaruvi organlariga, mahalliy davlat hokimiyati organlariga, hududlar davlat kadastrining boshqa bazaviy subyektlariga to‘lovlar undirilmasdan;</li><li>manfaatdor yuridik va jismoniy shaxslarga haq to‘lash evaziga beriladi. To‘lov miqdori, muddatlari va tartibi belgilangan tartibda Soliq qoʻmitasi huzuridagi Kadastr agentligi tomonidan belgilanadi.<em> </em></li></ul><p>Hududlarning davlat kadastrini yuritish uchun taqdim etilgan ma’lumotlarning to‘g‘riligi uchun ushbu ma’lumotlarni taqdim etish vakolatiga kiradigan vakolatli tashkilotlar va mansabdor shaxslar qonun hujjatlarida belgilangan tartibda javob beradilar.</p><p><strong><em>Yuridik va jismoniy shaxslar hududlarning davlat kadastri davlat axborot resurslarini shakllantirish va ulardan foydalanishda:</em></strong></p><ul><li>axborotni hujjatlashtirish, shakllantirish, undan foydalanish hamda davlat axborot resurslaridan foydalanishni tashkil qilish tartibi va talablariga rioya qilishga;</li><li>davlat axborot resurslarining axborot xavfsizligini ta’minlashga;</li><li>davlat axborot resurslarini shakllantirishda va ularning faoliyat yuritishini ta’minlashda litsenziyali dasturiy hamda sertifikatsiyalangan texnik vositalardan foydalanishga majburdir.</li></ul><p>Yuridik va jismoniy shaxslar hududlarning davlat kadastri davlat axborot resurslarini shakllantirishda va ulardan foydalanishda qonun hujjatlariga muvofiq boshqa majburiyatlarga ham ega bo‘lishlari mumkin.</p><p><strong><em>Yuridik va jismoniy shaxslar hududlarning davlat kadastri davlat axborot</em></strong><em> </em><strong><em>resurslarini shakllantirish va ulardan foydalanishda:</em></strong></p><ul><li>axborot bilan ishlash, davlat axborot resurslarini shakllantirish va ulardan foydalanish qoidalari buzganligi;</li><li>davlat axborot resurslaridagi axborot o‘g‘irlaganligi, yo‘qotilganligi, buzilganligi, blokirovka qilganligi va qalbakilashtirilganligi;</li><li>mualliflik huquqlari va intellektual mulk to‘g‘risidagi qonun hujjatlari buzilganligi uchun javob beradilar.</li></ul><p>Yuridik va jismoniy shaxslar hududlarning davlat kadastri davlat axborot resurslarini shakllantirish va ulardan foydalanishda qonun hujjatlariga muvofiq boshqa jihatlar yuzasidan ham javob berishlari mumkin.	</p><p><strong>Nazorat savollar</strong></p><ul><li><ol><li>Hududlarning davlat kadastrini yuritish maqsadlari va vazifalari nimalardan iborat?</li><li>Hududlarning davlat kadastrini yuritish tamoyillarini ayting?</li><li>Hududlar davlat kadastri ma’lumotlarining kompleksligi, to‘liqligi va to‘g‘riligi deganda nimani tushunasiz?</li><li>Hududlarning davlat kadastri tuzilmasi hamda uni tuzishni tashkil etish va yuritish tartibi qanday?</li><li>Hududlarning davlat kadastrini tuzish bosqichlarini tushuntirib bering?</li><li>Respublika darajasida hududlarning davlat kadastri tizimiga nimalar kiradi?</li><li>Mintaqaviy darajada hududlarning davlat kadastri tizimiga nimalar kiradi?</li><li>Tuman darajasida hududlarning davlat kadastri tizimiga nimalar kiradi?</li><li>Shahar darajasida hududlarning davlat kadastri tizimiga nimalar kiradi?</li><li>Geodeziya va kartografiya milliy markazi, hududiy yer tuzish va ko‘chmas mulk kadastri davlat korxonalari hududlar davlat kadastrini yuritishda qanday ishlarni amalga oshiradi?</li><li>Hududlarning davlat kadastrini tuzish hamda yuritish tartibi qanday?</li><li>Hududlarning davlat kadastri axborotini foydalanuvchilarga berish tartibini tushuntirib bering?</li></ol></li></ul>
                            </div>
                            <script>
                                var xx=0
                                var g=26
                                x=document.getElementById('salom')
                                function san(){
                                    if(xx>1)
                                    {
                                        xx-=1
                                        g-=1    
                                    }
                                    if (xx>3){
                                        x.innerHTML=`   
                                        <br>
                                        <br>
                                        <br>
                                        <br>
                                        <br>
                                        <br>
                                        <center><form action="/testget/10" method="get">
                                <button class="btn btn-primary" ><h4>Nazorat testlari
</h4></button>
                            </form></center>
                            <br>
                                        <br>
                                        <br>
                                        <br>
                                        <center><form action="/module-10
                                            " method="get">
                                <button class="btn btn-primary" ><h4>Video darsliklar sahifasiga qaytish
</h4></button>
                            </form></center>
                            `
                                    }
                                    else{
                                    var data=<%- JSON.stringify(data) %>
                                    console.log(data)
                                    x.innerHTML=`
                               <center><h1>Module 10.${xx}</h1></center>
                               <div class="embed-responsive embed-responsive-21by9">
                                <iframe class="embed-responsive-item" src=${data[g].videoname} allowfullscreen></iframe>
                              </div>
                              <br>
                              <center><button class="mb-2 mr-2 btn btn-primary btn-lg btn-block"><h3>${data[g].videomain}</h3>
                                        </button>
                                        <br>
                                        </center>
                                        <center><button class="btn btn-primary" onclick=san()><h5>Oldingi</h5>
                                        </button>
                                        <button class="btn btn-primary" onclick=man()><h5>Keyingi</h5>
                                        </button>
                                        </center>
                                        <br>
                                        <br>
                                        <br>
                              <center>
                             `
                                }
                            }
                                function man(){
                                    xx+=1
                                    g+=1
                                    if (xx>3){
                                        x.innerHTML=`   
                                        <br> 
                                        <br>
                                        <br>
                                        <br>
                                        <br>
                                        <br>
                                        <center><form action="/testget/10" method="get">
                                <button class="btn btn-primary" ><h4>Nazorat testlari
</h4></button>
                            </form></center>
                            <br>
                            <br>
                            <br>
                            <center><form action="/module-10" method="get">
                                <button class="btn btn-primary" ><h4>Video darsliklar sahifasiga qaytish
</h4></button>
                            </form></center>
                            `
                                    }
                                    else{
                                var data=<%- JSON.stringify(data) %>
                                console.log(data)
                                x.innerHTML=`
                               <center><h1>Module 10.${xx}</h1></center>
                               <div class="embed-responsive embed-responsive-21by9">
                                <iframe class="embed-responsive-item" src=${data[g].videoname} allowfullscreen></iframe>
                              </div>
                              <br>
                              <center><button class="mb-2 mr-2 btn btn-primary btn-lg btn-block"><h3>${data[g].videomain}</h3>
                                        </button>
                                        <br>
                                        </center>
                                        <center><button class="btn btn-primary" onclick=san()><h5>Oldingi</h5>
                                        </button>
                                        <button class="btn btn-primary" onclick=man()><h5>Keyingi</h5>
                                        </button>
                                        </center>
                                        <br>
                                        <br>
                                        <br>
                              <center>
                             `
                                }
                            }
                                man()
                            </script>  
                          </div>
                 
                    </div>    </div>
        </div>
    </div>
<script type="text/javascript" src="/assets1/scripts/main.js"></script></body>
</html>
